<div id="section-wrap">

	<div class="blog_wrap">
		<div class="blog_page_title"><h2><%= @blog.title %></h2></div>
		<div class="blog_description"><%= @blog.description %></div>
		<% @articles.each_with_index do |article,i| %>
			<div class="article">
				<% unless article.visual_mediafiles.empty? or article.visual_mediafiles.first.media.url.nil? %>
						<%= link_to image_tag(article.visual_mediafiles.first.media.url), article.to_url %>
				<% else %>
				<% end %>
				<h3><%= link_to article.title, article.to_url %></h3>
				<div class="byline">Posted on <%= article.nice_created_at %> | by <%= bylineify article %></div>

				<br />
				<%= article.body.html_safe %>
				<% unless i == @articles.count-1 %>
					<div class="separator"></div>
				<% end %>
			</div>
			<% end %>
		<%= will_paginate @articles %>
		<div class="clear"></div>
	</div>

	<div id="section-sidebar">

		<section id="popular">
			<%= render 'shared/popular' %>
		</section>
		<div class="clear"></div>
	</div>

	<div class="clear"></div>
</div>