<div id="section-wrap">

	<div id="blog-articles">
		<div id="blog_title"><h2><%= @blog.title %></h2></div>
		<div id="blog_description"><%= @blog.description %></div>
		<% @articles.each_with_index do |article,i| %>
			<div class="article">
				<% unless article.mediafiles.empty? or article.mediafiles.first.media.url.nil? or article.mediafiles.first.mediatype == 2 %>
					<div class="media">
						<%= link_to image_tag(article.mediafiles.first.media.thumb_140.url), article.to_url %>
					</div>
				<% else %>
				<% end %>
				<h3><%= link_to article.title, article.to_url %></h3>
				<div class="byline">Posted on <%= (article.created_at - 5.hours).strftime("%B %e, %Y at %l:%M %P") %> | by <%= bylineify article %></div>

				<br />
				<%= article.body.html_safe %>
				<% unless i == @articles.count-1 %>
					<div class="separator"></div>
				<% end %>
			</div>
			<% end %>
		<%= will_paginate @articles %>
		<div class="clear"></div>
	</div>

	<div id="section-sidebar">

		<section id="popular">
			<h4>Popular on the Beacon</h4>
			<ol>
				<% popular_articles.each do |story| %>
					<div class="popular-story">
						<!-- media -->
						<li>
							<%= link_to image_tag(story.mediafiles.first.media.thumb_40.url, :size=>"40x40"), story.to_url unless story.mediafiles.empty? or story.mediafiles.first.mediatype == 2 %>
							<%= link_to truncate(story.title, :length => 60), story.to_url %>
							<div class="clear"></div>
						</li>
					</div>
				<% end %>
			</ol>
		</section>
		<div class="clear"></div>
	</div>

	<div class="clear"></div>
</div>