<p>First name, last name, and email are required. If you don't add or check anything else, we'll assume the new person is a Beacon Correspondent.</p>
<br />
<div class="field">
	<%= f.label :firstname, "First name" %>
	<%= f.text_field :firstname %>
</div>
<div class="field">
	<%= f.label :lastname, "Last name" %>
	<%= f.text_field :lastname %>
</div>
<div class="field">
	<%= f.label :email %>
	<%= f.text_field :email %>
</div>
<div class="field input-prepend">
	<%= f.label :twitter %>
	<span class="add-on">@</span><%= f.text_field :twitter %>
</div>
<div class="field">
	<%= f.label :other_designation %>
	<%= f.text_field :other_designation %>
	(* if blank)
</div>
<div class="checkbox">
	<%= f.check_box :editor, class: 'person_editor' %>
	Editor
</div>
<div class="checkbox">
	<%= f.check_box :staff, class: 'person_staff' %>
	Staff
</div>
<div class="show_if_editor">
	<div class="field">
		<%= f.label :position %>
		<%= f.text_field :position %>
	</div>
	<div class="field">
		<%= f.label :profile %>
		<%= f.file_field :profile %>
	</div>
	<div class="field">
		<%= label_tag :video_mp4, "Video (.mp4)" %>
		<%= f.text_field :profile_video_mp4_url %>

		<%= label_tag :video_ogg, "Video (.ogg / .ogv)" %>
		<%= f.text_field :profile_video_ogg_url %>

		<%= label_tag :video_webm, "Video (.webm)" %>
		<%= f.text_field :profile_video_webm_url %>

	</div>
	<div class="field">
		<%= f.label :bio %>
		<%= f.text_area :bio, :class => 'tinymce' %>
		<%= tinymce %>
	</div>
	<div class="field">
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "Password again" %>
		<%= f.password_field :password_confirmation %>
	</div>
</div>