<table class="table table-striped">
	<tr><th>Name</th><th>Designation</th><th>Email</th><th>Twitter</th><th></th><th></th></tr>
	<% @people.each do |person| %>
		<tr>
			<td><%= person.full_name %></td>
			<td><%= person.designation %></td>
			<td><%= person.email %></td>
			<td><%= person.twitter %></td>
			<td><%= link_to "Edit", edit_person_path(person) %></td>
			<td><%= link_to "Link", "/staff/#{person.clean_full_name}/" %></td>
		</tr>
	<% end %>
</table>