<h1>New Person</h1>

<%= form_for @person do |f| %>
	<% if @person.errors.any? %>
		<div class="error_messages">
			<h2>Oops, there were a few problems:</h2>
			<ul>
				<% for message in @person.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :twitter %>
		@<%= f.text_field :twitter %>
	</div>
	<div class="field">
		<%= f.label :editor %>
		<%= f.check_box :editor %>
	</div>
	<div class="field">
		<%= f.label :staff %>
		<%= f.check_box :staff %>
	</div>
	<div id="show_if_editor">
		<div class="field">
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>
		<div class="field">
			<%= f.label :password_confirmation, "Password one more time" %>
			<%= f.password_field :password_confirmation %>
		</div>
	</div>
	
	<div class="actions"><%= f.submit %></div>

<% end %>