<div id="people_wrap" class="content_wrap">
	<div id="body">
		<% unless @person.profile.blank? %>
			<div id="profile_img">
				<%= image_tag @person.profile.url %>
			</div>
		<% end %>
		<h1><%= @person.full_name %></h1>
		<h2><%= @person.pos %></h2>
		<% if !@person.bio.blank? %>
			<div id="bio">
				<%= @person.bio.html_safe %>
			</div>
		<% end %>
		<p><%= @person.contact_info.html_safe %></p>
		
		<div class="clear"></div>

		<% if !@person.mediafiles.empty? %>

			<hr>

			<h2>Media contributed</h2>
			<% @person.mediafiles.order('created_at DESC').each do |mediafile| %>
				<% if !mediafile.latest_article.nil? %>
					<a href="<%= mediafile.latest_article.to_url %>" class="person_media">
						<%= image_tag mediafile.media.thumb_220.url %>
					</a>
				<% end %>
			<% end %>

		<% end %>
		
		<div class="clear"></div>

		<% if !@person.articles.empty? %>

			<hr>

			<h2>Articles</h2>
			<% @person.articles.order('created_at DESC').each do |article| %>

				<div class="article">
					<% unless article.mediafiles.empty? %>
						<div class="media">
							<%= link_to image_tag(article.mediafiles.first.media.thumb_140.url), article.to_url %>
						</div>
					<% else %>
					<% end %>
					<h3>
						<% unless article.people.map{|p| p.id}.include?(@person.id) %><em>Contributed media to </em><% end %>
						<%= link_to article.title, article.to_url %>
					</h3>
					<div class="byline"><%= bylineify article %></div>
					<p><%= article.excerpt.blank? ? article.body.first(50) : article.excerpt %></p>
					<div class="clear"></div>
				</div>

			<% end %>

		<% end %>
	</div>
	
	<div id="person_sidebar">
		<% if !@person.twitter.blank? %>
			<script src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script>
			new TWTR.Widget({
			  version: 2,
			  type: 'profile',
			  rpp: 8,
			  interval: 30000,
			  width: 220,
			  height: 525,
			  theme: {
			    shell: {
			      background: '#cbcbcb',
			      color: '#000000'
			    },
			    tweets: {
			      background: '#ffffff',
			      color: '#000000',
			      links: '#323232'
			    }
			  },
			  features: {
			    scrollbar: true,
			    loop: false,
			    live: true,
			    behavior: 'all'
			  }
			}).render().setUser('<%= @person.twitter %>').start();
			</script>
		<% end %>

		<section id="popular">
			<%= render 'shared/popular' %>
		</section>
		
	</div>
	<div class="clear"></div>

</div>