<div class="row special_coverage_form">

	<div class="span6">
		<%= form_for @sc do |f| %>
			<%= f.submit "Save", :class => "btn btn-primary" %>

			<div class="separator"></div>

			<div class="field">
				<%= f.label :title %>
				<%= f.text_field :title %>
			</div>

			<div class="separator"></div>

			<div class="field">
				<%= f.label :lead, "Lead story" %>
				<%= f.select :lead, options_for_select(@latest_articles, @lead) %>
			</div>

			<div class="field">
				<%= label_tag :featured, "Featured stories" %>
				<%= select_tag :featured, options_for_select(@latest_articles, @featured), :name => "featured[]", :multiple => true, "data-placeholder" => "Start typing an article title..." %>
			</div>

			<div class="field">
				<%= f.label :related_topic %>
				<%= f.select :related_topic, options_for_select(@topics, @related_t), "data-placeholder" => "Choose an article" %>
			</div>

			<div class="field">
				<%= label_tag :related_articles, "Related articles" %>
				<%= select_tag :related_articles, options_for_select(@latest_articles, @related_a), :name => "related_articles[]", :multiple => true, "data-placeholder" => "Start typing an article title..." %>
			</div>

			<%= hidden_field_tag :media_ids, @media_ids %>
		<% end %>

		<div class="separator"></div>

		<%= form_for Mediafile.new, :remote => true, :html => { :multipart => true } do |f| %>

			<%= render 'mediafiles/mediafiles_form', :f => f %>
			<div class="actions">
				<%= f.submit "Upload", :id => "mediauploadbtn", :class => "btn btn-primary" %>
				<div id="loading">
					<%= image_tag "loading.gif" %>
					Uploading...
				</div>
			</div>

		<% end %>

		<div id="uploaded_files" class="sc_uploaded_files">
			<% if @media %>
				<% @media.each do |m_id| %>
					<% m = Mediafile.find(m_id) %>
					<div class="span2"><%= image_tag m.media.thumb_140.url, :id => m.id %><br /><a href="#" class="btn show_mediafile_url">Show URL</a><a href="#" class="btn btn-danger delete_mediafile" id="delete_<%= m.id %>">Delete</a><br/><%= text_field_tag "mediafile_url", m.media.url, :class => "mediafile_url", :style => "display:none" %></div>
				<% end %>
			<% end %>
		</div>
	</div>

	<div class="span6">
		<p><strong>Updates</strong></p>
		<div class="well">
			<%= form_tag '/api/special_coverage/new_update', :remote => true, :id => 'sc_new_update' do %>
				<%= hidden_field_tag 'sc_id', @sc.id %>

				<p><em>All fields are optional</em></p>
				<%= text_field_tag :title, nil, :placeholder => 'Title' %>
				<%= text_field_tag :tweet, nil, :placeholder => 'Tweet link' %>
				<%= text_area_tag :body, nil, :rows => 5, :id => 'update_body', :class => 'tinymce' %>
				<%= tinymce %>

				<p>
					<% if @sc.id %>
						<img src="/assets/loading.gif" alt="" class="spinner" style="display:none;float:right">
						<%= submit_tag "Post", :class => "btn btn-primary" %>
						<a href="#" class="btn btn-danger" id="clear_post">Clear</a>
					<% else %>
						Save the special coverage before posting updates
					<% end %>
				</p>
			<% end %>
		</div>
		<div id="updates">
			<% @updates.each do |u| %>
				<p>
					<% if u[:title] %><b><%= u[:title] %></b><br><% end %>
					<%= u[:twitter_embed].html_safe if u[:twitter_embed] %>
					<%= u[:body].html_safe if u[:body] %>
				</p>
			<% end %>
		</div>
	</div>




</div>

<%= javascript_include_tag "/jquery-ui-1.10.3.custom.min.js" %>