<div class="control-group">
<%= f.text_area :body, class: 'tinymce' %>
<%= tinymce %>
</div>

<div class="control-group">
<%= f.label :notes, "Notes (Optional)" %>
<%= f.text_area :notes, style: 'width: 100%' %>
</div>

<div class="form-actions">
	<%= f.submit "Save", :class => "btn primary" %>
</div>