<div id="sidebar">

	<% if !@article.series_id.nil? and @article.series_id != 0 %>
		<section id="series_info">
			<%= image_tag(@article.series.logo.url) if !@article.series.logo.url.nil? %>
			<% if @article.series.title %>
				<strong><%= @article.series.title %></strong>
				<br />
			<% end %>
			<%= @article.series.description if @article.series.description %>
		</section>
	<% end %>

	<section id="share">
		<h4>Share this story online</h4>
		<div id="fb">
			<div class="fb-like" data-href="<%= @article.to_url(:full => true) %>" data-send="true" data-layout="box_count" data-width="9" data-show-faces="false" data-action="recommend"></div>
		</div>
		<div id="twitter">
			<a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-url="<%= @article.to_url(:full => true) %>" data-via="beaconupdate">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
		</div>
		<div id="tumblr">
			<a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:61px; height:20px; background:url('http://platform.tumblr.com/v1/share_2.png') top left no-repeat transparent;">Share on Tumblr</a>
		</div>
		<div class="clear"></div>
	</section>
	<section id="popular" class="article_popular">
		<%= render 'shared/popular' %>
	</section>

</div>