<div id="new_article_wrap">
<%= form_for @article, :html => { :multipart => true } do |f| %>
	<div class="field">
		<%= label_tag :section %>
		<%= select_tag :section, options_for_select(@sections, @article.section_id)  %>
	</div>

	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div id="subtitles">
		<a href="#" id="newsubtitlebtn">Add Subtitle</a>
	</div>
	
	<div id="series">
		<%= f.label :series_id %>
		<%= select_tag :series_id, options_for_select(@series, @article.series_id) %>
	</div>
	
	<div id="authors">
		<div class="field">
			<%= label_tag :author_1 %>
			<%= select_tag :author_1, options_for_select(@authors, @current_authors.first.id), :name => "author[1]" %>
		</div>
		<a href="#" id="newauthorbtn">Add another author</a>
		<script type="text/javascript" charset="utf-8">
		
			function afield(c) {
				var ret = '<div class="field">';
				ret += '<label for="author_' + c + '">' + 'Author ' + c + '</label>';
				ret += '<select id="author_' + c + '" name="author[' + c + ']">';
				ret += '<%= options_for_select(@authors).gsub(/\s/,' ').html_safe %>';
				ret += '</select><a href="#" class="removeauth">Remove</a></div>';
				return ret;
			}
			
			function subfield(c) {
				var ret = '<div class="field">';
				ret += '<label for="subtitle_' + c + '">' + 'Subtitle ' + c + '</label>';				
				ret += '<input id="subtitle_' + c + '" name="subtitle[' + c + ']" size ="30" type="text">';
				ret += '</select><a href="#" class="removesub">Remove</a></div>';
				return ret;
			}
			
			function remove_f(which) { 
				$(this).closest('.field').fadeOut().remove();
				which === "auth" ? acount -= 1 : scount -= 1 ;
			}
			
			// --- Authors ---
			
			acount = 2;
			$("#newauthorbtn").click(function(){
				$("#authors").append(afield(acount));
				acount += 1;	
			});			
			$("#authors").click(function(e){
				if ($(e.target).is('.removeauth'))
					remove_f.call(e.target,"auth");
			});
			
			// --- Subtitles --- 
			
			scount = 1;
			$("#newsubtitlebtn").click(function(){
				$("#subtitles").append(subfield(scount));
				scount += 1;
			})
			$("#subtitles").click(function(e){
				if ($(e.target).is('.removesub'))
					remove_f.call(e.target,"sub");
			});
			
			<% if @current_authors.count > 1 %>
			
				<% @current_authors[1,@current_authors.count].each_with_index do |a,index| %>
					$("#authors").append(afield(acount));
					$("#author_<%= index+2 %> option[value='<%= a.id %>']").attr('selected','selected');
					acount += 1;	
				<% end %>
				
			<% end %>
			
			<% if @article.subtitles.count > 0 %>
				
				<% @article.subtitles.each_with_index do |a,index| %>
					$("#subtitles").append(subfield(scount));
					$("#subtitle_<%= index+1 %>").val('<%= a %>');
					scount += 1;
				<% end %>
			<% end %>
			
				
		</script>
	</div>
	<div class="field">
		<%= f.label :body %>
		<%= f.text_area :body %>
		<script type="text/javascript">
			$(function(){
				$("textarea#article_body").tinymce({
					plugins : 'paste',
					theme: 'advanced',
				    theme_advanced_buttons1 : "mylistbox,mysplitbutton,bold,italic,underline,separator,strikethrough,justifyleft,justifycenter,justifyright,justifyfull,bullist,numlist,undo,redo,link,unlink,code",
				    theme_advanced_buttons2 : "",
				    theme_advanced_buttons3 : "",
				    theme_advanced_toolbar_align : "left",
					theme_advanced_toolbar_location : 'top',
					width: "940",
					height: "400",
					paste_auto_cleanup_on_paste : true,
		            paste_remove_styles: true,
		            paste_remove_styles_if_webkit: true,
		            paste_strip_class_attributes: true
				});
			});
		</script>
	</div>
	<div class="field">
		<%= f.label :excerpt, "Excerpt or Summary (shorter is better)" %>
		<%= f.text_area :excerpt %>
	</div>
	<div class="field radio_inputs">
		Type:
		<div class="radio">
		<%= radio_button_tag :articletype, 1, true %>
		<%= label_tag :articletype_1, "Text" %>
		</div>
		<div class="radio">
		<%= radio_button_tag :articletype, 2 %>
		<%= label_tag :articletype_2, "Media" %>
		</div>
		<div class="radio">
		<%= radio_button_tag :articletype, 3 %>
		<%= label_tag :articletype_3, "Slideshow" %>
		</div>
	</div>
		
	<% if @display_already_uploaded %>
		<% cookies[:already_uploaded].split(' ').each do |u| %>
			<%= "<input type='hidden' name='mediafiles[#{u}]' value='#{u}'>".html_safe %>
		<% end %>
	<% end %>
	<br />	
	<div class="actions"><%= f.submit "Update Article", :class => "btn btn-primary" %></div>
<% end %>

<hr />

<%= form_for Mediafile.new, :remote => true, :html => { :multipart => true } do |f| %>
	
	<%= render 'mediafiles/mediafiles_form', :f => f %>
	
<% end %>

<div id="uploaded_files"></div>
</div>