<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<%= form_tag search_edit_path do %>
	<%= text_field_tag :q, nil, :placeholder => 'Search for...' %>
	<%= submit_tag "Search", :class => "btn btn-primary" %>
<% end %>

<p>
	<%= link_to "Edit home page", new_home_layout_path, :class => "btn" %>
	<%= link_to "Upload Editorial Cartoon", new_editorial_cartoon_path, :class => "btn" %>
</p>
<p>
	Upload issue PDF
	<%= collection_select :issue, :release_date, Issue.all, :id, :release_date_f %>
	<a href="#" class="btn" id="issue-upload-select">Go</a>
	<script>
		$("#issue-upload-select").click(function(){
			var url = "/issues/" + $("#issue_release_date").val() + "/edit";
			window.location = url;
		});
	</script>
</p>

<h1>Most viewed articles</h1>

<%= line_chart api_pop_views_ck_data_path, :library => {:pointSize => 0} %>

<h1>Last 6 articles by you</h1>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th width="150px">Actions</th>
			<th width="50%">Title</th>
			<th>Media</th>
			<th>Views</th>
			<th>Unique Visitors</th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'editor_article_listing', :collection => @user_articles, :as => :article %>
	</tbody>
</table>

<h1>Last 30 articles on the site</h1>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th width="150px">Actions</th>
			<th width="50%">Title</th>
			<th>Media</th>
			<th>Views</th>
			<th>Unique Visitors</th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'editor_article_listing', :collection => @articles, :as => :article %>
	</tbody>
</table>

<h1>Average shares per article by section, last 4 issues</h1>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Issue</th>
			<th>News</th>
			<th>Opinion</th>
			<th>Arts</th>
			<th>Lifestyle</th>
			<th>Sports</th>
			<th>Feature</th>
			<th>Beyond</th>
		</tr>
	</thead>
	<tbody>
		<% @latest_issues.each do |issue| %>
		<tr>
			<td><%= issue.release_date.to_time.to_s(:pretty_date) %></td>
			<td><%= issue.social_quotient_by_section('News') %></td>
			<td><%= issue.social_quotient_by_section('Opinion') %></td>
			<td><%= issue.social_quotient_by_section('Arts') %></td>
			<td><%= issue.social_quotient_by_section('Lifestyle') %></td>
			<td><%= issue.social_quotient_by_section('Sports') %></td>
			<td><%= issue.social_quotient_by_section('Feature') %></td>
			<td><%= issue.social_quotient_by_section('Beyond') %></td>
		</tr>
		<% end %>
		<tr>
			<td><strong>Total</strong></td>
			<td><%= @section_total['news'] %></td>
			<td><%= @section_total['opinion'] %></td>
			<td><%= @section_total['arts'] %></td>
			<td><%= @section_total['lifestyle'] %></td>
			<td><%= @section_total['sports'] %></td>
			<td><%= @section_total['feature'] %></td>
			<td><%= @section_total['beyond'] %></td>
		</tr>
	</tbody>
</table>