<%= form_for @article do |f| %>
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div id="authors">
		<div class="field">
			<%= label_tag :author_1 %>
			<%= select_tag :author_1, options_for_select(@authors) %>
		</div>
		<a href="#" id="newauthorbtn">New Author</a>
		<script type="text/javascript" charset="utf-8">
			acount = 2;
			$("#newauthorbtn").click(function(){
				$("#authors").append(afield(acount));
				acount += 1;	
			});			
			function afield(c) {
				var ret = '<div class="field">';
				ret += '<label for="author_' + c + '">' + 'Author ' + c + '</label>';
				ret += '<select id="author_' + c + '" name="author_' + c + '">';
				ret += '<%= options_for_select(@authors).gsub(/\s/,' ').html_safe %>';
				ret += '</select><a href="#" class="removeauth">Remove</a></div>';
				return ret;
			}
			$(".removeauth").click(function(){
				alert("Clicked it!");
				$(this).fadeOut();
			})
		</script>
	</div>
	<div class="field">
		<%= f.label :body %>
		<%= f.text_area :body %>
	</div>
	<div class="field">
		<%= f.label :excerpt %>
		<%= f.text_area :excerpt %>
	</div>
	<div class="field">
		Type:
		<%= radio_button_tag :articletype, 1 %>
		<%= label_tag :articletype_1, "Text" %>
		<%= radio_button_tag :articletype, 2 %>
		<%= label_tag :articletype_2, "Media" %>
		<%= radio_button_tag :articletype, 3 %>
		<%= label_tag :articletype_3, "Slideshow" %>
	</div>
	
	<div class="actions"><%= f.submit %></div>
<% end %>