<%= form_for @article do |f| %>
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :body %>
		<%= f.text_area :body %>
	</div>
	<div class="field">
		<%= f.label :excerpt %>
		<%= f.text_area :excerpt %>
	</div>
	<div class="field">
		Type:
		<%= radio_button_tag :articletype, 1 %>
		<%= label_tag :articletype_1, "Text" %>
		<%= radio_button_tag :articletype, 2 %>
		<%= label_tag :articletype_2, "Media" %>
		<%= radio_button_tag :articletype, 3 %>
		<%= label_tag :articletype_3, "Slideshow" %>
	</div>
	
	<div class="actions"><%= f.submit %></div>
<% end %>