<div id="new_person_modal" class="modal hide fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3>New Person</h3>
	</div>
	<%= form_for Person.new, :remote => true do |f| %>

	<div class="modal-body">
		<%= render 'people/person_form', :f => f %>
	</div>
	<div class="modal-footer">
		<%= f.submit "Save", :class => "btn btn-primary" %>
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
	</div>
	<% end %>

</div>
<div id="new_media_person_modal" class="modal hide fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3>New Person</h3>
	</div>
	<%= form_for Person.new, :url => new_media_person_path, :remote => true do |f| %>

	<div class="modal-body">
		<%= render 'people/person_form', :f => f %>
	</div>
	<div class="modal-footer">
		<%= f.submit "Save", :class => "btn btn-primary" %>
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
	</div>
	<% end %>

</div>

<div id="new_article_wrap">
<%= form_for @article, :html => { :multipart => true } do |f| %>
	<div class="row">
		<div class="span6">
			<div class="field">
				<%= f.label :title %>
				<%= f.text_field :title %>
			</div>
			<div id="subtitles">
				<a href="#" id="newsubtitlebtn" class="btn"><i class="icon-plus"></i> Add Subtitle</a>
			</div>
			<div id="authors">
				<div class="field">

					<%= label_tag :author %>
					<%= select_tag :author, options_for_select(@authors), :name => "author[]", :multiple => true, "data-placeholder" => "Start typing a name..." %>
				</div>
				<br>

				<a href="#" id="new_person_btn" class="btn" data-toggle="modal" data-target="#new_person_modal"><i class="icon-user"></i> Create a new person</a>
				<script type="text/javascript" charset="utf-8">

					function afield(c) {
						var ret = '<div class="field">';
						ret += '<label for="author_' + c + '">' + 'Author ' + c + '</label>';
						ret += '<select id="author_' + c + '" name="author[' + c + ']">';
						ret += $("#author_1").clone().attr("id","#author_" + c).attr("name","author[" + c+ "]").html();
						ret += '</select><a href="#" class="removeauth btn btn-danger"><i class="icon-trash icon-white"></i> Remove Author ' + c + '</a></div>';
						return ret;
					}

					function subfield(c) {
						var ret = '<div class="field">';
						ret += '<label for="subtitle_' + c + '">' + 'Subtitle ' + c + '</label>';
						ret += '<input id="subtitle_' + c + '" name="subtitle[' + c + ']" size ="30" type="text">';
						ret += '</select><a href="#" class="removesub btn btn-danger"><i class="icon-trash icon-white"></i> Remove Subtitle ' + c + '</a></div>';
						return ret;
					}

					function remove_f(which) {
						$(this).closest('.field').fadeOut().remove();
						which === "auth" ? acount -= 1 : scount -= 1 ;
					}

					// --- Authors ---

					acount = 2;
					$("#newauthorbtn").click(function(){
						$("#authors").append(afield(acount));
						acount += 1;
					});
					$("#authors").click(function(e){
						if ($(e.target).is('.removeauth'))
							remove_f.call(e.target,"auth");
					});

					// --- Subtitles ---

					scount = 1;
					$("#newsubtitlebtn").click(function(){
						$("#subtitles").append(subfield(scount));
						scount += 1;
					})
					$("#subtitles").click(function(e){
						if ($(e.target).is('.removesub'))
							remove_f.call(e.target,"sub");
					});


				</script>
			</div>
		</div>
		<div class="span6">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#main_site_options">Post on main site</a></li>
				<li><a data-toggle="tab" href="#blog_options">Post on a blog</a></li>
				<li><a data-toggle="tab" href="#link_only_option">Link only</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="main_site_options">
					<div class="field">
						<%= f.label :section_id %>
						<%= f.select :section_id, options_for_select(@sections)  %>
					</div>
					<div class="field">
						<%= f.label :issue_id %>
						<%= f.select :issue_id, options_for_select(@issues) %>
					</div>
					<div id="series" class="field">
						<%= f.label :series_id %>
						<%= f.select :series_id, options_for_select(@series) %>
					</div>
					<a href="<%= new_series_path %>" class="btn"><i class="icon-plus"></i> New Series</a>
				</div>
				<div class="tab-pane" id="blog_options">
					<div id="blog" class="field">
						<%= f.label :blog_id %>
						<%= f.select :blog_id, options_for_select(@blogs) %>
					</div>
					<a href="<%= new_blog_path %>" class="btn"><i class="icon-plus"></i> New Blog</a>
				</div>
				<div class="tab-pane" id="link_only_option">
					<div class="field">
						<%= f.check_box :link_only, :style => "display:inline;width:auto" %>
						<%= f.label :link_only, :style => "display:inline;width:auto" %>
					</div>
				</div>
			</div>



		</div>
	</div>
	<div class="field" id="article_body_field">
		<%= f.label :body %>
		<%= f.text_area :body %>
		<script type="text/javascript">
			$(function(){
				$("textarea#article_body").tinymce({
					plugins : 'paste',
					theme: 'advanced',
				    theme_advanced_buttons1 : "mylistbox,mysplitbutton,bold,italic,underline,separator,strikethrough,justifyleft,justifycenter,justifyright,justifyfull,bullist,numlist,undo,redo,link,unlink,image,code",
				    theme_advanced_buttons2 : "",
				    theme_advanced_buttons3 : "",
				    theme_advanced_toolbar_align : "left",
					theme_advanced_toolbar_location : 'top',
					width: "940",
					height: "400",
					paste_auto_cleanup_on_paste : true,
		            paste_remove_styles: true,
		            paste_remove_styles_if_webkit: true,
		            paste_strip_class_attributes: true,
		            convert_urls : false,
		            relative_urls : false,
		            remove_script_host : false
				});
			});
		</script>
	</div>
	<div class="field" id="article_link_field" style="display:none">
		<%= f.label :link %>
		<%= f.text_field :link %>
	</div>
	<div class="field">
		<%= f.label :excerpt, "Excerpt or Summary (shorter is better)" %>
		<%= f.text_area :excerpt %>
	</div>
	<div class="field radio_inputs" style="display:none">
		Type:
		<div class="radio">
		<%= radio_button_tag :articletype, 1, true %>
		<%= label_tag :articletype_1, "Text" %>
		</div>
		<div class="radio">
		<%= radio_button_tag :articletype, 2 %>
		<%= label_tag :articletype_2, "Media" %>
		</div>
		<div class="radio">
		<%= radio_button_tag :articletype, 3 %>
		<%= label_tag :articletype_3, "Slideshow" %>
		</div>
	</div>

	<% if @display_already_uploaded %>
		<% cookies[:already_uploaded].split(' ').each do |u| %>
			<%= "<input type='hidden' name='mediafiles[#{u}]' value='#{u}'>".html_safe %>
		<% end %>
	<% end %>
	<br />
	<div class="actions form-actions">
		<%= f.submit "Publish article", :class => "btn btn-primary" %>
		<%= f.submit "Save article as a draft", :class => "btn" %>
		<% if @can_queue_tweet %>
			<p><%= radio_button_tag :post_when, :post_later, true %> Tweet on Thursday (recommended)
			<%= radio_button_tag :post_when, :post_now %> Tweet now</p>
		<% else %>
			<p>If you publish this article, a link to it will automatically be tweeted.</p>
		<% end %>
	</div>
<% end %>

<hr />

<%= form_for Mediafile.new, :remote => true, :html => { :multipart => true } do |f| %>

	<%= render 'mediafiles/mediafiles_form', :f => f %>
	<div class="actions">
		<%= f.submit "Upload", :id => "mediauploadbtn", :class => "btn btn-primary" %>
		<div id="loading">
			<%= image_tag "loading.gif" %>
			Uploading...
		</div>
	</div>

<% end %>

<div id="uploaded_files"></div>
</div>