<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=128499383927655";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</div>

<div id="article_slideshow_wrap">
	<div id="article_slideshow" class="carousel bs_el">
		<div class="carousel-inner">
			<% @article.images.each_with_index do |image,index| %>
				<div class="item<%= ' active' if index.zero? %>">
					<%= image_tag image.media.url.html_safe %>
					<div class="carousel-caption">
						<%= image.title %> &bull; <em><%= bylineify_linked(image).html_safe %></em>
					</div>
				</div>
			<% end %>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev" id="carousel_control_left">&lsaquo;</a>
	    <a class="right carousel-control" href="#myCarousel" data-slide="next" id="carousel_control_right">&rsaquo;</a>
	</div>
</div>

<div class="wrap">

<div class="content_wrap article_wrap">
	<% if editor_logged_in %>
		<%= link_to "Edit this story", edit_article_url(@article), :class => "btn" %>
	<% end %>

	<h1><%= @article.title.html_safe %></h1>
	<% if @article.subtitles %>
		<% @article.subtitles.each do |subtitle| %>
			<h2><%= subtitle %></h2>
		<% end %>
	<% end %>
	<h3>By <%= bylineify_linked(@article).html_safe %> <br /> <%= (@article.created_at - 5.hours).strftime("%B %e, %Y at %l:%M %P") %></h3>
	
	<% unless @article.first_photo.nil? %>
		<div id="big_photo_wrap">
			<div id="big_photo"></div>
			<div id="metadata">
					<div id="caption">
						<%= @article.first_photo.title %>
					</div>
					<div id="credit">
						<%= bylineify_linked(@article.first_photo).html_safe %>
					</div>
					<div class="clear"></div>
			</div>
		</div>		
	<% end %>
	
	<div id="body">
		<%= @article.body.html_safe %>
		<br /><% @article.people.each do |p| %>
			<p><em>
			<%= p.contact_info.html_safe if p.other_designation.blank? %>
			</em></p>
			<% end %>
		<br />
		<% if @article.archive %>
			<div id="from_archive">
				You're reading an article from our archives – if it looks funny, just press the button below and we'll look into it.
				<a id="funny_business">
					Something might be wrong with this article.
				</a>
				<a href="https://twitter.com/intent/tweet?screen_name=BeaconUPDATE&text=%23archiveproblem" class="twitter-mention-button" data-related="BeaconUPDATE">Tweet to @BeaconUPDATE</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> if there's a serious or urgent problem.
			</div>
		<% end %>

		<% if !@article.disable_comments %>

		<br />
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			    var disqus_shortname = 'berkeleybeacon';

			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
		<% end %>
	</div>
	<div id="sidebar">
		<% if @article.images.count > 1 %>
			<div id="show_slideshow_sidebar">
				<%= image_tag @article.images[1].media.thumb_220 %>
				<a href="#" id="show_slideshow">Show slideshow</a>
				<div class="separator"></div>
			</div>
		<% end %>

		<% if !@article.series_id.nil? and @article.series_id != 0 %>
			<section id="series_info">
				<%= image_tag(@article.series.logo.url) if !@article.series.logo.url.nil? %>
				<% if @article.series.title %>
					<strong><%= @article.series.title %></strong>
					<br />
				<% end %>
				<%= @article.series.description if @article.series.description %>
			</section>
		<% end %>
		
		<section id="share">
			<h4>Share this story online</h4>
			<div id="fb">
				<div class="fb-like" data-send="true" data-layout="box_count" data-width="9" data-show-faces="false" data-action="recommend"></div>
			</div>
			<div id="twitter">
				<a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="beaconupdate">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
			</div>
			<div id="tumblr">
				<a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:61px; height:20px; background:url('http://platform.tumblr.com/v1/share_2.png') top left no-repeat transparent;">Share on Tumblr</a>
			</div>
			<div class="clear"></div>
		</section>
		<section id="popular">
			<h4>Popular on the Beacon</h4>
			<ol>
				<% popular_articles.each do |story| %>
					<div class="popular-story">
						<!-- media -->
						<li>
							<%= link_to image_tag(story.mediafiles.first.media.thumb_40.url), story.to_url unless story.mediafiles.empty? or story.mediafiles.first.mediatype == 2 %>
							<%= link_to truncate(story.title, :length => 60), story.to_url %>
							<div class="clear"></div>
						</li>
					</div>
				<% end %>
			</ol>
		</section>
		
	</div>
	<div class="clear"></div>
</div>

<% unless @article.first_photo.nil? %>
	<script>
		$("#big_photo").anystretch("<%= @article.first_photo.media.url.html_safe %>");
	</script>
<% end %>