<div id="section-wrap">

	<div id="section-articles">
		<% @articles.each_with_index do |article,i| %>
			<% next if article.draft? %>
			<% if i == 0 and (params[:page].nil? or params[:page].to_i == 1) %>
				<div id="main-section-story">
					<% if article.first_photo %>
						<div class="media">
							<%= link_to image_tag(article.first_photo.media.url), article.to_url %>
						</div>
					<% else %>
					<% end %>
					<h2><%= link_to article.title, article.to_url %></h2>
					<div class="byline"><%= bylineify article %></div>
					<p><%= article.excerpt.blank? ? article.body.first(50) : article.excerpt %></p>
				</div>
			<% else %>

			<div class="article">
				<% if article.first_photo %>
					<div class="media">
						<%= link_to image_tag(article.first_photo.media.thumb_140.url), article.to_url %>
					</div>
				<% else %>
				<% end %>
				<h3><%= link_to article.title, article.to_url %></h3>
				<div class="byline"><%= bylineify article %></div>
				<p><%= article.excerpt.blank? ? article.body.first(50) : article.excerpt %></p>
				<div class="clear"></div>
			</div>
	
			<% end %>
		<% end %>
		<%= will_paginate @articles %>
	</div>

	<div id="section-sidebar">
		<% if @sname == "Opinion" %>
			<div class="sidebar-box" id="ed-cartoon-box">
				<h4>Latest Editorial Cartoon</h4>
				<div class="upcase"><%= link_to "See all &rarr;".html_safe, "/opinion/editorial_cartoons" %></div>
				<%= image_tag latest_ed_cartoon.media.thumb_220 %>
				<br/>
				<em><%= latest_ed_cartoon.title %></em>
			</div>
		<% end %>

		<section id="popular">
			<%= render 'shared/popular' %>
		</section>
	</div>

</div>