<div id="section-wrap">

	<div id="section-articles">
		<% @articles.each_with_index do |article,i| %>
			<% next if article.draft? %>
			<% if i == 0 and (params[:page].nil? or params[:page].to_i == 1) %>
				<div id="main-section-story">
					<% if article.first_photo %>
						<div class="media">
							<%= link_to image_tag(article.first_photo.media.url), article.to_url %>
						</div>
					<% else %>
					<% end %>
					<h2><%= link_to article.title, article.to_url %></h2>
					<div class="byline"><%= bylineify article %></div>
					<p><%= article.excerpt.blank? ? article.body.first(50) : article.excerpt %></p>
				</div>
			<% else %>

			<div class="article">
				<% unless article.mediafiles.empty? or article.mediafiles.first.media.url.nil? or article.mediafiles.first.mediatype == 2 %>
					<div class="media">
						<%= link_to image_tag(article.mediafiles.first.media.thumb_140.url), article.to_url %>
					</div>
				<% else %>
				<% end %>
				<h3><%= link_to article.title, article.to_url %></h3>
				<div class="byline"><%= bylineify article %></div>
				<p><%= article.excerpt.blank? ? article.body.first(50) : article.excerpt %></p>
				<div class="clear"></div>
			</div>
	
			<% end %>
		<% end %>
		<%= will_paginate @articles %>
	</div>

	<div id="section-sidebar">
		<section id="popular">
			<%= render 'shared/popular' %>
		</section>
	</div>

</div>