<div class="event_box">
	<h3><%= link_to e.title, e.url %></h3>
	<p>
		<em><i class="fa fa-clock-o fa-fw"></i> <%= e.date_start.strftime('%l:%M %P') %> - <%= e.date_end.strftime('%l:%M %P') %></em>
		<br>
		<em><i class="fa fa-map-marker fa-fw"></i> <%= e.location %></em>
		<% if e.link? %>
		<br>
		<em><i class="fa fa-external-link fa-fw"></i> <%= link_to "Link (#{URI.parse(e.link).host})", e.link %></em>
		<% end %>
	</p>
	<p class="event_description"><%= e.description %></p>
</div>