<article class="event_article">
	<div class="event_article_image" style="background-image:url(<%= article.first_photo.media.thumb_460.url rescue '' %>)">
		<div class="event_article_content event_article_header">
			<div class="event_day">
				<%= article.event_day_str %>
			</div>
			<h3><%= article.title %></h3>
		</div>
	</div>
	<div class="event_article_content">
		<p class="event_article_info">
			<%= article.first_event.title %> <br>
			<i class="fa fa-calendar fa-fw"></i> <%= article.first_event.date_start.to_s(:pretty_date_and_time) %> <br>
			<i class="fa fa-map-marker fa-fw"></i> <%= article.first_event.location %>
			<% if article.first_event.link? %>
			<br>
			<em><i class="fa fa-external-link fa-fw"></i> <%= link_to "Link (#{URI.parse(article.first_event.link).host})", article.first_event.link %></em>
			<% end %>
		</p>
		<%= article.body.html_safe %>
		<p>&mdash; <%= bylineify_linked(article).html_safe %></p>
	</div>
</article>
