<nav class="topnav events">

	<div class="topnav_left">
		<a href="/" class="topnav_b events"></a>
	</div>

	<div class="topnav_section">
		<a href="/events" class="events">
			<div class="main_wrap">
			Events
			</div>
		</a>
		<ul class="section_select">
			<% @other_sections.each do |section| %>
			<li>
				<a href="/<%= section.name.downcase %>" class="<%= section.name.downcase %>">
					<div class="main_wrap">
						<%= section.name %>
					</div>
				</a>
			</li>
			<% end %>
		</ul>
	</div>

</nav>

<% if editor_logged_in %>
	<h2>To approve</h2>
	<table class="table table-striped">
		<tr>
			<th></th>
			<th>Title</th>
			<th>Description</th>
			<th>Location</th>
			<th>Dates</th>
			<th>Link</th>
			<th>Organizer name</th>
			<th>Organizer email</th>
		</tr>
		<% @events_to_approve.each do |e| %>
			<tr id="event-<%= e.id %>">
				<td>
					<%= form_for e, :remote => true do |f| %>
						<%= f.submit "Approve", :class => "btn btn-primary" %>
						<%= f.submit "Approve & pick", :class => "btn" %>
					<% end %>
				</td>
				<td><%= e.title %></td>
				<td><%= e.description %></td>
				<td><%= e.location %></td>
				<td><%= e.date_start %> - <%= e.date_end %></td>
				<td><%= link_to 'Link', e.link if e.link? %></td>
				<td><%= e.organizer_name %></td>
				<td><%= e.organizer_email %></td>
			</tr>
		<% end %>
	</table>
<% end %>

<div class="events_wrap wide_wrap">
	<h2 class="events_picks">The Beacon's picks for this week</h2>
</div>


<div class="events_beacon_picks">
	<%= render :partial => 'event_article_box', :collection => @beacon_picks, :as => :article %>
</div>

<div class="events_wrap wide_wrap">

	<h2 class="events event_cal_header">
		Events Calendar
		<a href="#" id="events_submit">
			<i class="fa fa-plus-circle"></i> Submit an event
		</a>
	</h2>

	<div id="new_event_inline" style="display:none">
		<div id="new_event_errors"></div>
		<div id="new_event_success">
			Thanks, your event has been submitted. We'll email you when it's approved and shows up on this page.
		</div>

		<%= form_for @new_event, :remote => true do |f| %>
			<p><%= f.text_field :title, :placeholder => "Event title" %></p>
			<p><%= f.text_area :description, :rows => 3, :placeholder => "Tell us about the event." %></p>
			<p><%= text_field_tag :date, '', :placeholder => "When is it?" %></p>
			<p>
				<%= text_field_tag :time_start, '', :placeholder => "Start time" %>
				<div style="float:left;margin:0 5%">to</div>
				<%= text_field_tag :time_end, '', :placeholder => "End time (optional)" %>
			</p>
			<p><%= f.text_field :location, :placeholder => "Where is it?" %></p>
			<p><%= f.text_field :tickets, :placeholder => "Ticket prices (optional)" %></p>
			<p>
				<%= f.text_field :link, :placeholder => "Link for more information (optional)" %>
			</p>
			<% if false %>
			<p>
				<span class="field_desc">Event image (optional)</span>
				<%= f.file_field :image %>
			</p>
			<% end %>
			<br>
			<% if editor_logged_in %>

			<% else %>
			<p><%= f.text_field :organizer_name, :placeholder => "Your name" %></p>
			<p><%= f.text_field :organizer_email, :placeholder => "Your email (must be an Emerson email)" %></p>
			<br>
			<p><em>Events won't show up until they're approved by an editor.</em></p>
			<% end %>

			<%= f.submit "Save" %>
		<% end %>
	</div>

	<% @events_all_upcoming.each do |date, events| %>
		<div class="row event_row">
			<h3 class="event_cal_row_header"><%= date %></h3>
		</div>
		<% events.each_with_index do |e, i| %>
			<% if i % 2 == 0 %>
			<div class="row event_row">
			<% end %>

			<%= render 'event_box', :e => e %>

			<% if i % 3 == 1 || i == events.count-1 %>
			</div>
			<% end  # .row %>
		<% end %>

	<% end %>


</div>



<script src="/picker/picker.js"></script>
<script src="/picker/picker.date.js"></script>
<script src="/picker/picker.time.js"></script>
<script src="/picker/legacy.js"></script>
<link rel="stylesheet" href="/picker/classic.css">
<link rel="stylesheet" href="/picker/classic.date.css">
<link rel="stylesheet" href="/picker/classic.time.css">