<div class="container about">
	<div class="row">
		<div class="span3 offset1">
			<p>The Berkeley Beacon is Emerson College's independent, student-run newspaper. Founded in 1947, the weekly publishes in print on Thursdays each fall and spring semester and online daily. The paper is a chronicle of life at Emerson &mdash; covering student government politics, campus performances, and school-wide trends. In recent years, the paper's reporting has revealed racial biases in the college's tenure practices, performance space struggles for student groups, and food code violations in the campus dining facilities.</p>

			<p>In 2011, the paper took strides in increasing its online presence by launching the first college newspaper website built on HTML5, following The Boston Globe's release of BostonGlobe.com, the world's first HTML5, responsive-designed newspaper site.</p>
		</div>
		
		<div class="span3 offset1">
			<p>
				<strong>Editor-in-Chief</strong>
				<%= link_to "Alexander C. Kaufman", "/staff/alexander-c-kaufman" %>
			</p>
			<p>
				<strong>Managing Editors</strong>
				<%= link_to "Carly Loman", "/staff/carly-loman" %><br />
				<%= link_to "Evan Sporer", "/staff/evan-sporer" %><br />
				<%= link_to "Stephanie Thomas", "/staff/stephanie-thomas" %><br />
			</p>
			<p>
				<strong>News Editor</strong>
				<%= link_to "Heidi Moeller", "/staff/heidi-moeller" %>
			</p>
			<p>
				<strong>Opinion Editor</strong>
				<%= link_to "Hayden Wright", "/staff/hayden-wright" %>
			</p>
			<p>
				<strong>Sports Editor</strong>
				<%= link_to "Christopher Eyer", "/staff/chris-eyer" %>
			</p>
			<p>
				<strong>Lifestyle Editors</strong>
				<%= link_to "Xakota Espinoza", "/staff/xakota-espinoza" %><br />
				<%= link_to "Barbara Platts", "/staff/barbara-platts" %>
			</p>
			<p>
				<strong>Arts Editor</strong>
				<%= link_to "Andrew Doerfler", "/staff/andrew-doerfler"%>
			</p>
			<p>
				<strong>Photography Editor</strong>
				<%= link_to "Sarah Verrill", "/staff/sarah-verrill" %>
			</p>			
			<p>
				<strong>Web Editor</strong>
				<%= link_to "Ryan Catalani", "/staff/ryan-catalani" %>
			</p>
			
		</div>
		
		<div class="span3">
			<p>
				<strong>Deputy News Editor</strong>
				<%= link_to "Jackie Tempera", "/staff/jackie-tempera" %>
			</p>
			<p>
				<strong>Assistant News Editors</strong>
				<%= link_to "Katie Prisco-Buxbaum", "/staff/katie-prisco-buxbaum" %><br/ >
				<%= link_to "Frankie Olito", "/staff/frankie-olito" %>
			</p>
			<p>
				<strong>Assistant Sports Editor</strong>
				<%= link_to "Alanna Grady", "/staff/alanna-grady" %>
			</p>
			<p>
				<strong>Assistant Lifestyle Editors</strong>
				<%= link_to "Emily Murphy", "/staff/emily-murphy" %><br />
				<%= link_to "Eliza Marie Florendo", "/staff/eliza-florendo" %>
			</p>
			<p>
				<strong>Deputy Arts Editor</strong>
				<%= link_to "Eric Twardzik", "/staff/eric-twardzik" %>
			</p>
			<p>
				<strong>Assistant Arts Editor</strong>
				<%= link_to "Sofya Levina", "/staff/sofya-levina" %>
			</p>
			<p>
				<strong>Assistant Photography Editor</strong>
				<%= link_to "Courtney Tharp", "/staff/courtney-tharp" %>
			</p>
			<p>
				<strong>Chief Copyeditor</strong>
				<%= link_to "Diana Filar", "/staff/diana-filar" %>
			</p>
			<p>
				<strong>Assistant Copyeditor</strong>
				<%= link_to "Jessica Nicholson", "/staff/jessica-nicholson" %>
			</p>
			<p>
				<strong>Marketing Director</strong>
				<%= link_to "Marlowe Griffin", "/staff/marlowe-griffin" %>
			</p>
		</div>
	</div>

</div>

