<div class="container about">
	<div class="row">
		<div class="span3 offset1">
			<p>The Berkeley Beacon is Emerson College's independent, student-run newspaper. Founded in 1947, the weekly publishes in print on Thursdays each fall and spring semester and online daily. The paper is a chronicle of life at Emerson &mdash; covering student government politics, campus performances, and school-wide trends.</p>

			<p>In recent years, the paper's reporting has revealed racial biases in the college's tenure practices, performance space struggles for student groups, and food code violations in the campus dining facilities.</p>

			<p>In 2011, the paper took strides in increasing its online presence by launching the <a href="http://www.niemanlab.org/2012/04/emerson-college-student-paper-completes-a-fully-responsive-mobile-friendly-redesign/">first college newspaper website with a responsive design</a>, following The Boston Globe's release of BostonGlobe.com, the world's first HTML5, responsive-designed newspaper site.</p>

			<p><strong>Email:</strong> <%= link_to "contact@berkeleybeacon.com", "mailto:contact@berkeleybeacon.com" %></p>

			<p><strong>Phone:</strong> (617) 824-8687</p>

			<p><strong>Address:</strong>
				<a href="http://maps.google.com/maps?q=150+Boylston+Street,+Boston,+MA&hl=en&sll=37.0625,-95.677068&sspn=55.543096,114.169922&oq=150+boy&t=v&hnear=150+Boylston+St,+Boston,+Massachusetts+02116&z=17">
					Piano Row, Rm. L-145
					<br/>150 Boylston St.
					<br/>Boston, MA 02116</a>
			</p>
		</div>

		<div class="span3 offset1">
			<p>
				<strong>Editor-in-Chief</strong>
				<%= link_to "Evan Sporer", "/staff/evan-sporer" %>
			</p>
			<p>
				<strong>Managing Editor and Design Director</strong>
				<em>News & Multimedia</em><br/>
				<%= link_to "Ryan Catalani", "/staff/ryan-catalani" %>
			</p>
			<p>
				<strong>Managing Editors</strong>
				<em>Opinion</em><br/>
				<%= link_to "Trelawny Davis", "/staff/trelawney-davis" %><br/>
				<em>Arts & Lifestyle</em><br/>
				<%= link_to "Andrew Doerfler", "/staff/andrew-doerfler" %>
			</p>

			<p>
				<strong>News Editor</strong>
				<%= link_to "Jackie Tempera", "/staff/jackie-tempera" %>
			</p>
			<p>
				<strong>Opinion Editor</strong>
				<%= link_to "Hunter Harris", "/staff/hunter-harris" %>
			</p>
			<p>
				<strong>Sports Editor</strong>
				<%= link_to "Carl Setterlund", "/staff/carl-setterlund" %>
			</p>
			<p>
				<strong>Lifestyle Editor</strong>
				<%= link_to "Katy Rushlau", "/staff/katy-rushlau" %>
			</p>
			<p>
				<strong>Arts Editor</strong>
				<%= link_to "Jason Mandanjian", "/staff/jason-mandanjian" %>
			</p>
			<p>
				<strong>Photography Editor</strong>
				<%= link_to "Andrew Harwood", "/staff/andrew-harwood" %>
			</p>
			<p>
				<strong>Video Producers</strong>
				<%= link_to "Ryan Williams", "/staff/ryan-williams" %><br/>
				<%= link_to "Jean Merlain", "/staff/jean-merlain" %>
			</p>
			<p>
				<strong>Business Manager</strong>
				<%= link_to "Crystal Witter", '#' %>
			</p>
			<p>
				<strong>Advisor</strong>
				Ric Kahn
			</p>

		</div>

		<div class="span3">
			<p>
				<strong>Deputy News Editor</strong>
				<%= link_to "Laura Gomez", "/staff/laura-gomez" %>
			</p>
			<p>
				<strong>Assistant News Editor</strong>
				<%= link_to "Martha Schick", "/staff/martha-schick" %>
			</p>
			<p>
				<strong>SGA Correspondent</strong>
				<%= link_to "Kathryn Bennett", "/staff/kathryn-bennett" %>
			</p>
			<p>
				<strong>Assistant Opinion Editor</strong>
				<%= link_to "Liana Genito", "/staff/liana-genito" %>
			</p>
			<p>
				<strong>Deputy Sports Editor</strong>
				<%= link_to "Kyle Brasseur", "/staff/kyle-brasseur" %>
			</p>
			<p>
				<strong>Assistant Sports Editor</strong>
				<%= link_to "Connor Burton", "/staff/connor-burton" %>
			</p>
			<p>
				<strong>Assistant Lifestyle Editor</strong>
				<%= link_to "Thea Byrd", "/staff/thea-byrd" %>
			</p>
			<p>
				<strong>Deputy Arts Editor</strong>
				<%= link_to "Erica Mixon", "/staff/erica-mixon" %>
			</p>
			<p>
				<strong>Assistant Arts Editor</strong>
				<%= link_to "Dillon Riley", "/staff/dillon-riley" %>
			</p>
			<p>
				<strong>Assistant Design Director</strong>
				<%= link_to "Hana Phifer", "/staff/hana-phifer" %>
			<p>
				<strong>Chief Copy Editor</strong>
				Katie Hubbard
			</p>
			<p>
				<strong>Copy Editors</strong>
				Kate Tarbell<br>
				Austen Wright<br>
				Phillip Gohary
			</p>
		</div>
	</div>

</div>

