<div id="elect_featured">
	<div class="img_wrap">
		<%= image_tag "https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/thumb_460_GPayne_Ted.jpg" %>
	</div>
	<div class="text_wrap">
		<h2><a href="http://berkeleybeacon.com/news/2012/11/1/political-insert-gregory-payne">Professor's political connections translate to class, CPLA</a></h2>
		<div class="byline">Heidi Moeller / Beacon Staff</div>
		<p>Stepping into Gregory Payne’s office on the eighth floor of the Walker Building is like entering a political time warp. Photos of the professor with presidents past, memorabilia from countless election campaigns, and stacks of books on politics fill the walls and shelves.</p>
	</div>
</div>

<div id="elect_contents">
	<%= image_tag "http://theberkeleybeacon.s3.amazonaws.com/static/assets/redstars.png", :id => "elect_stars" %>
	<h1>Beacon Election Guide 2012</h1>
	<div class="clear"></div>
	<br/>
	<h3>In the guide</h3>
	<ul>
		<li><%= link_to "A profile of Gregory Payne, Emerson professor and former political speechwriter",
				"http://berkeleybeacon.com/news/2012/11/1/political-insert-gregory-payne" %>
		</li>
		<li><%= link_to "Results from the Beacon's political poll",
				'/election_guide_2012/poll_results' %>
		</li>
		<li><%= link_to "A map of voting locations around Boston",
				'/election_guide_2012/map' %>
		</li>
		<li><%= link_to "An endorsement of Barack Obama by Emerson Democrats president Caitlin Duffy",
				"http://berkeleybeacon.com/opinion/2012/11/1/political-insert-democrat" %>
		</li>
		<li><%= link_to "An endorsement of Mitt Romney by Emerson Republicans chair Paul Almeida",
				"http://berkeleybeacon.com/opinion/2012/11/1/politcal-insert-republican" %>
		</li>
		<li><%= link_to "An op-ed by Professor Owan Eagan defending public television",
				"http://berkeleybeacon.com/opinion/2012/11/1/in-further-defense-of-big-bird-and-pbs" %>
		</li>
		<li><%= link_to "An op-ed by senior Olivia DiNucci critiquing presidential debates",
				"http://berkeleybeacon.com/opinion/2012/11/1/the-debate-over-debates" %>
		</li>
	</ul>
</div>

<div class="clear"></div>
<br/><br/>

<div id="elect_boxes">

	<div class="elect_box">
		<div class="elect_box_img_text">
			<%= link_to "Political poll results", '/election_guide_2012/poll_results' %>
		</div>
		<%= image_tag "http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/poll_thumb_460.jpg" %>
	</div>

	<div class="elect_box">
		<a href="http://berkeleybeacon.com/opinion/2012/11/1/in-further-defense-of-big-bird-and-pbs"><h3>Op-Ed: In Further Defense of Big Bird and PBS</h3></a>
		<div class="byline">Owen Eagan</div>
		<p>The marketplace does many things well, but television is a unique industry. It has been continuously demonstrated, for example, that mass media shapes our perceptions and behaviors.</p>
	</div>

	<div class="elect_box">
		<div class="elect_box_img_text">
			<%= link_to "Voting location map", '/election_guide_2012/map' %>
		</div>
		<%= image_tag "http://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/voting%20map-01-thumb.jpg" %>
	</div>

	<div class="elect_box">
		<a href="http://berkeleybeacon.com/opinion/2012/11/1/the-debate-over-debates"><h3>Op-Ed: The debate over debates</h3></a>
		<div class="byline">Olivia DiNucci / Columnist</div>
		<p>If anyone seeking such a high power position could address a resolution to the economic crisis or the unrest in the Middle East in 90 seconds, we are all in trouble. Debates, however, do give the candidates a chance to articulate to a global audience a summary of their short and long term agenda for the next four years.</p>
	</div>

</div>

<div class="clear"></div>

<div id="elect_obamaromney">
	<div id="elect_obamaromney_text">
		<h2><a href="http://berkeleybeacon.com/opinion/2012/11/1/political-insert-democrat">Obama</a></h2>
		<em>or</em>
		<h2><a href="http://berkeleybeacon.com/opinion/2012/11/1/politcal-insert-republican">Romney</a></h2>
		<br/>
		<h3>Who would provide a better future for Emerson students &mdash; and the country?</h3>
	</div>
	<a href="http://berkeleybeacon.com/opinion/2012/11/1/political-insert-democrat" id="elect_obama">
		<%= image_tag "https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/thumb_460_Obama_CourtesyofUnitedStatesGovernmentWorks.jpg" %>
	</a>
	<a href="http://berkeleybeacon.com/opinion/2012/11/1/politcal-insert-republican" id="elect_romney">
		<%= image_tag "https://s3.amazonaws.com/BerkeleyBeacon/beacon_uploads/uploads/Romney_CourtesyofGageSkidmore_newthumb.jpg" %>
	</a>
</div>

<div class="clear"></div>