<div id="main">

	<section id="top">

		<section id="left">

			<% cache ["home_top_stories", tagging_or_article_last_updated] do %>
			<div id="main-story">
				<% if @main_story.first_photo.nil? %>
					<div class="story-text">
						<h2><%= link_to @main_story.title, @main_story.to_url %></h2>
						<div class="byline">By <%= bylineify_short @main_story.people %></div>
					</div>
					<div class="excerpt"><%= @main_story.excerpt %></div>
				<% else %>
					<div class="main-story-img-wrap">
						<%= link_to image_tag(@main_story.first_photo.media.thumb_460.url), @main_story.to_url %>
					</div>
					<div class="story-text">
						<h2><%= link_to @main_story.title, @main_story.to_url %></h2>
						<div class="byline">By <%= bylineify_short @main_story.people %></div>
						<div class="excerpt"><%= @main_story.excerpt %></div>
					</div>
				<% end %>
				<div class="clear"></div>
			</div>

			<section id="featured-stories">
				<% @featured_stories.each_with_index do |story,i| %>
					<div class="featured-story num-<%= i+1 %>">
						<!-- media -->
						<% unless story.mediafiles.empty? %>
							<div class="featured-story-img-wrap">
							<%= link_to image_tag(story.first_photo.media.thumb_220.url), story.to_url %>
							</div>
						<% end %>
						<h3><%= link_to story.title, story.to_url %></h3>
						<div class="byline">By <%= bylineify_short story.people %></div>
						<div class="excerpt"><%= story.excerpt %></div>
						<div class="clear"></div>
					</div>
				<% end %>
				<div class="clear"></div>
			</section>

		</section>

		<section id="center">
			<% @middle_stories.each do |story| %>
				<div class="story">
					<%= image_tag story.first_photo.media.thumb_140.url if story.first_photo %>
					<div class="section_title"><%= story.section.name %></div>
					<h3><%= link_to story.title, story.to_url %></h3>
					<div class="excerpt"><%= story.excerpt %></div>
					<div class="clear"></div>
				</div>
			<% end %>
		</section>
		<% end # cache home_top_stories %>


		<section id="right">

				<%= link_to "Send Us a Tip", tips_path, :id => "tip_btn" %>

				<div class="separator"></div>

				<h3>Latest Videos</h3>
				<div id="latest_video_thumbs">
					<% @latest_multimedia.each_with_index do |mediafile,index| %>
						<a href="#" class="latest_video_thumb" data-video="<%= index %>">
						<%= image_tag mediafile.media.thumb_140.url %>
						<div class="video_thumb_label"><%= mediafile.latest_article.section.name rescue "Video" %></div>
						</a>
					<% end %>
				</div>
				<div class="clear"></div>
				<div id="latest_videos_separator">
					<div id="latest_video_position">&nbsp;</div>
				</div>

				<div id="latest_videos_container">
					<div id="latest_videos_inner">
						<% @latest_multimedia.each_with_index do |mediafile,index| %>
							<div class="latest_video" id="" data-video="<%= index %>">
								<%= render 'shared/video_tag', :video => mediafile, :preload => false %>
								<strong><%= mediafile.title %></strong> &raquo; <%= link_to("Read the story", mediafile.latest_article.to_url) unless mediafile.articles.empty? %>
							</div>
						<% end %>
					</div>
				</div>

				<div class="separator"></div>

				<h3>From the blogs</h3>
				<h4><a href="http://berkeleybeacon.tumblr.com">The Beacon on Tumblr</a></h4>
				<div class="l_quo_border">Latest Entry: <%= link_to @tumblr_latest_title.html_safe, @tumblr_latest_url %></div>
				<% @blogs.each do |blog| %>
					<% unless blog.articles.empty? %>
						<h4><%= link_to blog.title, blog.to_url %></h4>
						<div class="l_quo_border">Latest Entry: <%= link_to blog.articles.last.title, blog.articles.last.to_url %></div>
					<% end %>
				<% end %>
				<div class="separator"></div>
				<a href="https://twitter.com/BeaconUpdate" class="sm_btn" id="twitter_btn">
					<%= image_tag "twitter_icon.png" %> @BeaconUpdate
				</a>
				<a href="https://facebook.com/BerkeleyBeacon" class="sm_btn" id="fb_btn">
					<%= image_tag "fb_icon.png" %> BerkeleyBeacon
				</a>
				<div class="clear"></div>
				<h4>On Facebook</h4>
				<div class="l_quo_border">
					<div class="fb-like" data-href="http://facebook.com/berkeleybeacon" data-send="false" data-width="218" data-show-faces="true"></div>
				</div>
				<h4>On Twitter</h4>
				<% cache("home_twitter", :expires_in => 1.hour) do %>
				<ol id="latest_tweets" class="l_quo_border">
					<% @tweets.each do |tweet| %>
						<li>
							<a href="http://twitter.com/BeaconUpdate/status/<%= tweet.attrs["id_str"] %>">
								<em><%= distance_of_time_in_words_to_now tweet.created_at %> ago</em>
								<%= tweet.text %>
							</a>
						</li>
					<% end %>
				</ol>
				<% end #cache home_twitter %>

			</section>

		<div class="clear"></div>

	</section>

	<div class="clear"></div>
	<div class="separator"></div>

	<section id="bottom">
		<div class="group-a">
			<% cache ["home_news_stories", Section.home_cache_key("news")] do %>
				<div class="section-box" id="news-section-box">
					<h4><%= link_to "News", "/news" %></h4>
					<%= render 'section_box', :section_articles => @news %>
				</div>
			<% end #home_news_stories %>
			<div class="separator"></div>
			<% cache ["home_arts_stories", Section.home_cache_key("arts")] do %>
				<div class="section-box" id="ae-section-box">
					<h4><%= link_to "Arts", "/arts" %></h4>
					<%= render 'section_box', :section_articles => @arts %>
				</div>
			<% end %>
		</div>

		<div class="group-b">
			<% cache ["home_opinion_stories", Section.home_cache_key("opinion")] do %>
				<div class="section-box" id="opinion-section-box">
					<h4><%= link_to "Opinion", "/opinion" %></h4>
					<%= render 'section_box', :section_articles => @opinion %>
				</div>
			<% end %>
			<div class="separator"></div>
			<% cache ["home_lifestyle_stories", Section.home_cache_key("lifestyle")] do %>
				<div class="section-box" id="lifestyle-section-box">
					<h4><%= link_to "Lifestyle", "/lifestyle" %></h4>
					<%= render 'section_box', :section_articles => @lifestyle %>
				</div>
			<% end %>
		</div>

		<div class="group-c">
			<section id="popular" class="home_popular">
				<%= render 'shared/popular' %>
			</section>
			<div class="separator"></div>
				<% cache ["home_sports_stories", Section.home_cache_key("sports")] do %>
					<div class="section-box" id="sports-section-box">
						<h4><%= link_to "Sports", "/sports" %></h4>
						<%= render 'section_box', :section_articles => @sports %>
					</div>
				<% end %>
		</div>


	</section>
	<div class="clear"></div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=128499383927655";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>