<h1>The Berkeley Beacon</h1>

<section id="top">
	<section id="featured-stories">
		<div id="main-story">
			<h2><%= @main_story.title %></h2>
			<div class="byline">By <%= bylineify_short @main_story.people %></div>
			<div class="excerpt"><%= @main_story.excerpt %></div>
			<!-- something about the media file -->
		</div>
		<% @featured_stories.each do |story| %>
			<div class="featured-story">
				<!-- media -->
				<h3><%= story.title %></h3>
				<div class="byline">By <%= bylineify_short story.people %></div>
				<div class="excerpt"><%= story.excerpt %></div>
			</div>
		<% end %>
	</section>
	<section id="top-sidebar">
	</section>
</section>
	
<section id="middle">
	<% @middle_stories.each do |story| %>
		<div class="middle-strip-story">
			<!-- media -->
			<h3><%= story.section.name %></h3>
			<%= story.title %>
		</div>
	<% end %>
</section>
	
<section id="bottom">
	<section id="section-boxes">
		<div class="section-box" id="news-section-box">
			<h4>News</h4>
			<!-- media -->
			<h5><%= @news.first.title %></h5>
			<%= @news.first.excerpt %>
			<ul>
				<% @news.last(2).each do |story| %>
					<li><%= story.title %></li>
				<% end %>
			</ul>
		</div>
		<div class="section-box" id="opinion-section-box">
			<h4>Opinion</h4>
			<% @opinion.each do |story| %>
				<h5><%= story.title %></h5>
				<%= story.excerpt %>
			<% end %>
		</div>
		<div class="section-box" id="ae-section-box">
			<h4>Arts & Entertainment</h4>
			<!-- media from first -->
			<ul>
				<% @ae.each do |story| %>
					<li><%= story.title %></li>
				<% end %>
			</ul>
		</div>
		<div class="section-box" id="sports-section-box">
			<h4>Sports</h4>
			<!-- media from first -->
			<ul>
				<% @sports.each do |story| %>
					<li><%= story.title %></li>
				<% end %>
			</ul>
		</div>
		<div class="section-box" id="lifestyle-section-box">
			<h4>Lifestyle</h4>
			<!-- media from first -->
			<ul>
				<% @lifestyle.each do |story| %>
					<li><%= story.title %></li>
				<% end %>
			</ul>
		</div>
	</section>
	<section id="popular">
		<h4>Popular on the Beacon</h4>
		<ol>
			<% @popular.each do |story| %>
				<div class="popular-story">
					<!-- media -->
					<li>
						<%= story.title %>
					</li>
				</div>
			<% end %>
		</ol>
	</section>
</section>
				
		

<% if @current_user %>
	Hello, <%= @current_user.firstname %>! Would you like to <%= link_to "log out", logout_path %>?
<% else %>	
	Why haven't you <%= link_to "signed up", new_person_path %> or <%= link_to "logged in", login_path %> yet?
<% end %>