<div id="main">

	<section id="top">
		<section id="featured-stories">
			<div id="main-story">
				<div class="story-text">
					<h2><%= link_to @main_story.title, @main_story.to_url %></h2>
					<div class="byline">By <%= bylineify_short @main_story.people %></div>
					<div class="excerpt"><%= @main_story.excerpt %></div>
				</div>
				<!-- something about the media file -->
				<%= link_to image_tag(@main_story.mediafiles.first.media.url), @main_story.to_url %>
				<div class="clear"></div>
				
			</div>
			<% @featured_stories.each_with_index do |story,i| %>
				<div class="featured-story num-<%= i+1 %>">
					<!-- media -->
					<% unless story.mediafiles.empty? %>
						<div class="featured-story-img-wrap">
						<%= link_to image_tag(story.mediafiles.first.media.url), story.to_url %>
						</div>
					<% end %>
					<h3><%= link_to story.title, story.to_url %></h3>
					<div class="byline">By <%= bylineify_short story.people %></div>
					<div class="excerpt"><%= story.excerpt %></div>
				</div>
			<% end %>
		</section>
		<section id="top-sidebar">
			<img src="http://dummyimage.com/220x525/ccc/fff.png&text=videotwitteretc" />
		
		</section>
		<div class="clear"></div>
		
	</section>
	
	
	<section id="middle">
		<% @middle_stories.each do |story| %>
			<div class="middle-strip-story">
				<!-- media -->
				<%= link_to image_tag(story.mediafiles.first.media.url), story.to_url unless story.mediafiles.empty? %>
				<div class="story-text">
					<strong><%= story.section.name %></strong>
					<%= link_to truncate(story.title, :length => 60), story.to_url %>
				</div>
			</div>
		<% end %>
		<div class="clear"></div>
	</section>
	
	<section id="bottom">
		<div class="group-a">
			<div class="section-box" id="news-section-box">
				<h4>News</h4>
				<!-- media -->
				<%= link_to image_tag(@news.first.mediafiles.first.media.url), @news.first.to_url unless @news.first.mediafiles.empty? %>
				<h5><%= link_to @news.first.title, @news.first.to_url %></h5>
				<%= @news.first.excerpt %>
				<ul>
					<% @news.last(2).each do |story| %>
						<li><%= link_to truncate(story.title), story.to_url %></li>
					<% end %>
				</ul>
				<div class="clear"></div>
			</div>
			
			<div class="section-box" id="ae-section-box">
				<h4>Arts & Entertainment</h4>
				<!-- media from first -->
				<%= link_to image_tag(@ae.first.mediafiles.first.media.url), @ae.first.to_url unless @ae.first.mediafiles.empty? %>
				<ul>
					<% @ae.each do |story| %>
						<li><%= link_to story.title, story.to_url %></li>
					<% end %>
				</ul>
			</div>
			
			<div class="section-box" id="lifestyle-section-box">
				<h4>Lifestyle</h4>
				<!-- media from first -->
				<%= link_to image_tag(@lifestyle.first.mediafiles.first.media.url), @lifestyle.first.to_url unless @lifestyle.first.mediafiles.empty? %>
				<ul>
					<% @lifestyle.each do |story| %>
						<li><%= link_to story.title, story.to_url %></li>
					<% end %>
				</ul>
			</div>
		
		<div class="clear"></div>
		</div>
		
		<div class="group-b">
			<section id="popular">
				<h4>Popular on the Beacon</h4>
				<ol>
					<% @popular.each do |story| %>
						<div class="popular-story">
							<!-- media -->
							<li>
								<%= link_to image_tag(story.mediafiles.first.media.url, :size=>"40x40"), story.to_url unless story.mediafiles.empty? %>
								<%= link_to truncate(story.title, :length => 60), story.to_url %>
								<div class="clear"></div>
							</li>
						</div>
					<% end %>
				</ol>
			</section>
			
			<div class="section-box" id="opinion-section-box">
				<h4>Opinion</h4>
				<% @opinion.each do |story| %>
					<h5><%= link_to truncate(story.title, :length => 30), story.to_url %></h5>
					<%= truncate story.excerpt, :length => 120 %>
				<% end %>
			</div>
			<div class="section-box" id="sports-section-box">
				<h4>Sports</h4>
				<!-- media from first -->
				<%= link_to image_tag(@sports.first.mediafiles.first.media.url), @sports.first.to_url unless @sports.first.mediafiles.empty? %>
				
				<ul>
					<% @sports.each do |story| %>
						<li><%= link_to story.title, story.to_url %></li>
					<% end %>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="clear"></div>
		
	</section>
	<div class="clear"></div>
</div>		
		

<% if @current_user %>
	Hello, <%= @current_user.firstname %>! Would you like to <%= link_to "log out", logout_path %>?
<% else %>	
	Why haven't you <%= link_to "signed up", new_person_path %> or <%= link_to "logged in", login_path %> yet?
<% end %>