<!DOCTYPE html>
<html>
<head>
	<title><%= "#{@title} | " if @title %>The Berkeley Beacon</title>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700|PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	
	<%= csrf_meta_tags %>
</head>
<body>

<div id="wrap">

	<div id="intercept">
	<h1>brb.</h1>
	<h2>Sorry, we're making some improvements to our website right now. Check back shortly - or chat with us on <%= link_to "Twitter", "http://twitter.com/beaconupdate" %>.</h2>
	</div>

</div>

</body>
</html>
