<div class="container oscars">
	<div class="row">
		<div class="span2">
			<h2>The Beacon's Academy Award Picks</h2>
			<div id="desc">
				View all the Oscar nominees, and Berkeley Beacon staff members' favorites to win. Don't forget to read all the reviews, too.
			</div>
		</div>
		<div class="span5 best_picture">
			<div class="img_wrap">
				<%= image_tag "http://theberkeleybeacon.s3.amazonaws.com/static/assets/tree_of_life.png" %>
			</div>
		</div>
		<div class="span5 best_picture">
			<h3>Best Picture</h3>
			<div class="nominee">
				<h3><%= link_to "The Artist", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-artist-defies-hollywood-conventions-with" %></h3>
			</div>
			<div class="nominee">
				<h3><%= link_to "The Descendants", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-descendants-betrays-one-of-directors" %></h3>
			</div>
			<div class="nominee">
				<h3>Extremely Loud & Incredibly Close</h3>
			</div>
			<div class="nominee">
				<h3><%= link_to "The Help", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-powerful-relationships-push-the-help-over" %></h3>
			</div>
			<div class="nominee">
				<h3>Hugo</h3>
			</div>
			<div class="nominee">
				<h3><%= link_to "Midnight in Paris", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-midnight-in-paris-glides-through-roaring" %></h3>
			</div>
			<div class="nominee">
				<h3>Moneyball</h3>
			</div>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3><%= link_to "The Tree of Life", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-tree-of-life-subverts-traditional-storytelling" %></h3>
			</div>
			<div class="nominee">
				<h3><%= link_to "War Horse", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-war-horse-for-the-war-buffs" %></h3>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span4 nominee_box">
			<h3>Actor in a Leading Role</h3>
			<div class="nominee">
				<h3>Demi&aacute;n Bechir</h3>
				A Better Life
			</div>
			<div class="nominee">
				<h3>George Clooney</h3>
				<%= link_to "The Descendants", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-descendants-betrays-one-of-directors" %>
			</div>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3>Jean Dujardin</h3>
				<%= link_to "The Artist", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-artist-defies-hollywood-conventions-with" %>
			</div>
			<div class="nominee">
				<h3>Gary Oldman</h3>
				Tinker Tailor Soldier Spy
			</div>
			<div class="nominee">
				<h3>Brad Pitt</h3>
				Moneyball
			</div>
		</div>
		<div class="span4 nominee_box">
			<h3>Directing</h3>
			<div class="nominee">
				<h3>Michel Hazanavicius</h3>
				<%= link_to "The Artist", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-artist-defies-hollywood-conventions-with" %>
			</div>
			<div class="nominee">
				<h3>Alexander Payne</h3>
				<%= link_to "The Descendants", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-descendants-betrays-one-of-directors" %>
			</div>
			<div class="nominee">
				<h3>Martin Scorsese</h3>
				Hugo
			</div>
			<div class="nominee">
				<h3>Woody Allen</h3>
				<%= link_to "Midnight in Paris", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-midnight-in-paris-glides-through-roaring" %>
			</div>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3>Terrence Malick</h3>
				<%= link_to "The Tree of Life", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-tree-of-life-subverts-traditional-storytelling" %>
			</div>
		</div>
		<div class="span4 nominee_box">
			<h3>Actress in a Leading Role</h3>
			<div class="nominee">
				<h3>Glenn Close</h3>
				Albert Nobbs
			</div>
			<div class="nominee">
				<h3>Viola Davis</h3>
				<%= link_to "The Help", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-powerful-relationships-push-the-help-over" %>
			</div>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3>Rooney Mara</h3>
				<%= link_to "The Girl with the Dragon Tattoo", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-girl-with-the-dragon-tattoo" %>
			</div>
			<div class="nominee">
				<h3>Meryl Streep</h3>
				The Iron Lady
			</div>
			<div class="nominee">
				<h3>Michelle Williams</h3>
				<%= link_to "My Week With Marilyn", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-my-week-with-marilyn" %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span4 nominee_box">
			<h3>Actor in a Supporting Role</h3>
			<div class="nominee">
				<h3>Kenneth Branagh</h3>
				<%= link_to "My Week With Marilyn", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-my-week-with-marilyn" %>
			</div>
			<div class="nominee">
				<h3>Jonah Hill</h3>
				Moneyball
			</div>
			<div class="nominee">
				<h3><%= link_to "Nick Nolte", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-seniors-square-off-for-supporting-actor" %></h3>
				Warrior
			</div>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3><%= link_to "Christopher Plummer", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-seniors-square-off-for-supporting-actor" %></h3>
				Beginners
			</div>
			<div class="nominee">
				<h3>Max von Sydow</h3>
				Extremely Loud & Incredibly Close
			</div>
		</div>
		<div class="span4 nominee_box">
			<h3>Cinematography</h3>
			<div class="nominee">
				<h3><%= link_to "The Artist", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-artist-defies-hollywood-conventions-with" %></h3>
				Guillaume Schiffman
			</div>
			<div class="nominee">
				<h3><%= link_to "The Girl with the Dragon Tattoo", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-girl-with-the-dragon-tattoo" %></h3>
				Jeff Cronenweth
			</div>
			<div class="nominee">
				<h3>Hugo</h3>
				Robert Richardson
			</div>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>				
				<h3><%= link_to "The Tree of Life", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-tree-of-life-subverts-traditional-storytelling" %></h3>
				Emmanuel Lubezki
			</div>
			<div class="nominee">
				<h3><%= link_to "War Horse", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-war-horse-for-the-war-buffs" %></h3>
				Janusz Kaminski
			</div>
		</div>
		<div class="span4 nominee_box">
			<h3>Actress in a Supporting Role</h3>
			<div class="nominee">
				<h3>B&eacute;r&eacute;nice Bejo</h3>
				<%= link_to "The Artist", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-artist-defies-hollywood-conventions-with" %>
			</div>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3>Jessica Chastain</h3>
				<%= link_to "The Help", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-powerful-relationships-push-the-help-over" %>
			</div>
			<div class="nominee">
				<h3>Melissa McCarthy</h3>
				<%= link_to "Bridesmaids", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-bridesmaids-breaks-the-rules" %>
			</div>
			<div class="nominee">
				<h3>Janet McTeer</h3>
				Albert Nobbs
			</div>
			<div class="nominee">
				<h3>Octavia Spencer</h3>
				<%= link_to "The Help", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-powerful-relationships-push-the-help-over" %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span4 nominee_box">
			<h3>Original Screenplay</h3>
			<div class="nominee">
				<h3><%= link_to "The Artist", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-artist-defies-hollywood-conventions-with" %></h3>
				Michel Hazanavicius
			</div>
			<div class="nominee">
				<h3><%= link_to "Bridesmaids", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-bridesmaids-breaks-the-rules" %></h3>
				Annie Mumolo & Kristen Wiig
			</div>
			<div class="nominee">
				<h3>Margin Call</h3>
				J.C. Chandor
			</div>
			<div class="nominee">
				<h3><%= link_to "Midnight in Paris", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-midnight-in-paris-glides-through-roaring" %></h3>
				Woody Allen
			</div>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3>A Separation</h3>
				Asghar Farhadi
			</div>
		</div>
		<div class="span4 nominee_box">
			<h3>Adapted Screenplay</h3>
			<div class="nominee">
				<h3><%= link_to "The Descendants", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-descendants-betrays-one-of-directors" %></h3>
				Alexander Payne, Nat Faxon, and Jim Rash
			</div>
			<div class="nominee">
				<h3>Hugo</h3>
				John Logan
			</div>
			<div class="nominee">
				<h3>The Ides of March</h3>
				George Clooney, Grant Heslov, and Beau Willimon
			</div>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3>Moneyball</h3>
				Screenplay by Steven Zaillian and Aaron Sorkin. Story by Stan Chervin
			</div>
			<div class="nominee">
				<h3>Tinker Tailor Soldier Spy</h3>
				Bridget O'Connor & Peter Straughan
			</div>
		</div>
		<div class="span4 nominee_box">
			<h3>Animated Feature Film</h3>
			<div class="nominee">
				<h3>A Cat in Paris</h3>
				Alain Gagnol & Jean-Loup Felicioli
			</div>
			<div class="nominee">
				<h3>Chico & Rita</h3>
				Fernando Trueba & Javier Mariscal
			</div>
			<div class="nominee">
				<h3>Kung Fu Panda 2</h3>
				Jennifer Yuh Nelson
			</div>
			<div class="nominee">
				<h3>Puss in Boots</h3>
				Chris Miller
			</div>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3><%= link_to "Rango", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-rango-confronts-the-generations-mediainduced-identity" %></h3>
				Gore Verbinski
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span4 nominee_box">
			<h3>Foreign Language Film</h3>
			<div class="nominee">
				<h3>Belgium, "Bullhead"</h3>
				Michael R. Roskam, director
			</div>
			<div class="nominee">
				<h3>Canada, "Monsieur Lazhar"</h3>
				Philippe Falardeau, director
			</div>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3>Iran, "A Separation"</h3>
				Asghar Farhadi, director
			</div>
			<div class="nominee">
				<h3>Israel, "Footnote"</h3>
				Joseph Cedar, director
			</div>
			<div class="nominee">
				<h3><%= link_to 'Poland, "In Darkness"', "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-in-darkness-brings-nightmares-to-life" %></h3>
				Agniesza Holland, director
			</div>
		</div>
		<div class="span4 nominee_box">
			<h3>Original Score</h3>
			<div class="nominee">
				<h3>The Adventures of Tintin</h3>
				John Williams
			</div>
			<div class="nominee beacon_pick">
				<div class="pick_label">Tie: Beacon Pick</div>
				<h3><%= link_to "The Artist", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-artist-defies-hollywood-conventions-with" %></h3>
				Ludovic Bource
			</div>
			<div class="nominee">
				<h3>Hugo</h3>
				Howard Shore
			</div>
			<div class="nominee beacon_pick">
				<div class="pick_label">Tie: Beacon Pick</div>
				<h3>Tinker Tailor Soldier Spy</h3>
				Alberto Iglesias
			</div>
			<div class="nominee beacon_pick">
				<div class="pick_label">Tie: Beacon Pick</div>
				<h3><%= link_to "War Horse", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-war-horse-for-the-war-buffs" %></h3>
				John Williams
			</div>
		</div>
		<div class="span4 nominee_box">
			<h3>Original Song</h3>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3>"Man or Muppet" from <em>The Muppets</em></h3>
				Music and Lyric by Bret McKenzie
			</div>
			<div class="nominee">
				<h3>"Real in Rio" from <em>Rio</em></h3>
				Music by Sergio Mendes & Carlinhos Brown; Lyric by Siedah Garrett
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span4 nominee_box">
			<h3>Art Direction</h3>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3><%= link_to "The Artist", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-artist-defies-hollywood-conventions-with" %></h3>
				Laurence Bennett (Production Design); Robert Gould (Set Decoration)
			</div>
			<div class="nominee">
				<h3>Harry Potter and the Deathly Hallows Part 2</h3>
				Stuart Craig (Production Design); Stephenie McMillan (Set Decoration)
			</div>
			<div class="nominee">
				<h3>Hugo</h3>
				Dante Ferretti (Production Design); Francesca Lo Schiavo (Set Decoration)
			</div>
			<div class="nominee">
				<h3><%= link_to "Midnight in Paris", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-midnight-in-paris-glides-through-roaring" %></h3>
				Anne Seibel (Production Design); Hélène Dubreuil (Set Decoration)
			</div>
			<div class="nominee">
				<h3><%= link_to "War Horse", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-war-horse-for-the-war-buffs" %></h3>
				Rick Carter (Production Design); Lee Sandales (Set Decoration)
			</div>
		</div>
		<div class="span4 nominee_box">
			<h3>Costume Design</h3>
			<div class="nominee">
				<h3>Anonymous</h3>
				Lisy Christl
			</div>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3><%= link_to "The Artist", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-artist-defies-hollywood-conventions-with" %></h3>
				Mark Bridges
			</div>
			<div class="nominee">
				<h3>Hugo</h3>
				Sandy Powell
			</div>
			<div class="nominee">
				<h3>Jane Eyre</h3>
				Michael O'Connor
			</div>
			<div class="nominee">
				<h3>W.E.</h3>
				Arianne Phillips
			</div>
		</div>
		<div class="span4 nominee_box">
			<h3>Film Editing</h3>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3><%= link_to "The Artist", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-artist-defies-hollywood-conventions-with" %></h3>
				Anne-Sophie Bion and Michel Hazanavicius
			</div>
			<div class="nominee">
				<h3><%= link_to "The Descendants", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-descendants-betrays-one-of-directors" %></h3>
				Kevin Tent
			</div>
			<div class="nominee">
				<h3><%= link_to "The Girl with the Dragon Tattoo", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-girl-with-the-dragon-tattoo" %></h3>
				Kirk Baxter and Angus Wall
			</div>
			<div class="nominee">
				<h3>Hugo</h3>
				Thelma Schoonmaker
			</div>
			<div class="nominee">
				<h3>Moneyball</h3>
				Christopher Tellefsen
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span3 nominee_box">
			<h3>Makeup</h3>
			<div class="nominee">
				<h3>Albert Nobbs</h3>
				Martial Corneville, Lynn Johnston and Matthew W. Mungle
			</div>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3>Harry Potter and the Deathly Hallows Part 2</h3>
				Nick Dudman, Amanda Knight and Lisa Tomblin
			</div>
			<div class="nominee">
				<h3>The Iron Lady</h3>
				Mark Coulier and J. Roy Helland
			</div>
		</div>
		<div class="span3 nominee_box">
			<h3>Sound Editing</h3>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3>Drive</h3>
				Lon Bender and Victor Ray Ennis
			</div>
			<div class="nominee">
				<h3><%= link_to "The Girl with the Dragon Tattoo", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-girl-with-the-dragon-tattoo" %></h3>
				Ren Klyce
			</div>
			<div class="nominee">
				<h3>Hugo</h3>
				Philip Stockton and Eugene Gearty
			</div>
			<div class="nominee">
				<h3>Transformers: Dark of the Moon</h3>
				Ethan Van der Ryn and Erik Aadahl
			</div>
			<div class="nominee">
				<h3><%= link_to "War Horse", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-war-horse-for-the-war-buffs" %></h3>
				Richard Hymns and Gary Rydstrom
			</div>
		</div>
		<div class="span3 nominee_box">
			<h3>Sound Mixing</h3>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3><%= link_to "The Girl with the Dragon Tattoo", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-the-girl-with-the-dragon-tattoo" %></h3>
				David Parker, Michael Semanick, Ren Klyce and Bo Persson
			</div>
			<div class="nominee">
				<h3>Hugo</h3>
				Tom Fleischman and John Midgley
			</div>
			<div class="nominee">
				<h3>Moneyball</h3>
				Deb Adair, Ron Bochar, David Giammarco and Ed Novick
			</div>
			<div class="nominee">
				<h3>Transformers: Dark of the Moon</h3>
				Greg P. Russell, Gary Summers, Jeffrey J. Haboush and Peter J. Devlin
			</div>
			<div class="nominee">
				<h3><%= link_to "War Horse", "http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-war-horse-for-the-war-buffs" %></h3>
				Gary Rydstrom, Andy Nelson, Tom Johnson and Stuart Wilson
			</div>
		</div>
		<div class="span3 nominee_box">
			<h3>Visual Effects</h3>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3>Harry Potter and the Deathly Hallows Part 2</h3>
				Tim Burke, David Vickery, Greg Butler and John Richardson
			</div>
			<div class="nominee">
				<h3>Hugo</h3>
				Rob Legato, Joss Williams, Ben Grossmann and Alex Henning
			</div>
			<div class="nominee">
				<h3>Real Steel</h3>
				Erik Nash, John Rosengrant, Dan Taylor and Swen Gillberg
			</div>
			<div class="nominee">
				<h3>Rise of the Planet of the Apes</h3>
				Joe Letteri, Dan Lemmon, R. Christopher White and Daniel Barrett
			</div>
			<div class="nominee">
				<h3>Transformers: Dark of the Moon</h3>
				Scott Farrar, Scott Benza, Matthew Butler and John Frazier
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span3 nominee_box">
			<h3>Documentary Feature</h3>
			<div class="nominee">
				<h3>Hell and Back Again</h3>
				Danfung Dennis and Mike Lerner
			</div>
			<div class="nominee">
				<h3>If a Tree Falls: A Story of the Earth Liberation Front</h3>
				Marshall Curry and Sam Cullman
			</div>
			<div class="nominee">
				<h3>Paradise Lost 3: Purgatory</h3>
				Joe Berlinger and Bruce Sinofsky
			</div>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3><%= link_to "Pina", 'http://berkeleybeacon.com/arts-and-entertainment/2012/2/23/oscar-reviews-3d-finds-a-worthy-subject-in' %></h3>
				Wim Wenders and Gian-Piero Ringel
			</div>
			<div class="nominee">
				<h3>Undefeated</h3>
				TJ Martin, Dan Lindsay and Rich Middlemas
			</div>
		</div>
		<div class="span3 nominee_box">
			<h3>Documentary Short</h3>
			<div class="nominee">
				<h3>The Barber of Birmingham: Foot Soldier of the Civil Rights Movement</h3>
				Robin Fryday and Gail Dolgin
			</div>
			<div class="nominee">
				<h3>God is the Bigger Elvis</h3>
				Rebecca Cammisa and Julie Anderson
			</div>
			<div class="nominee">
				<h3>Incident in New Baghdad</h3>
				James Spione
			</div>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3>Saving Face</h3>
				Daniel Junge and Sharmeen Obaid-Chinoy
			</div>
			<div class="nominee">
				<h3>The Tsunami and the Cherry Blossom</h3>
				Lucy Walker and Kira Carstensen
			</div>
		</div>
		<div class="span3 nominee_box">
			<h3>Short Film, Animated</h3>
			<div class="nominee">
				<h3>Dimanche/Sunday</h3>
				Patrick Doyon
			</div>
			<div class="nominee">
				<h3>The Fantastic Flying Books of Mr. Morris Lessmore</h3>
				William Joyce and Brandon Oldenburg
			</div>
			<div class="nominee beacon_pick">
				<div class="pick_label">Beacon Pick</div>
				<h3>La Luna</h3>
				Enrico Casarosa
			</div>
			<div class="nominee">
				<h3>A Morning Stroll</h3>
				Grant Orchard and Sue Goffe
			</div>
			<div class="nominee">
				<h3>Wild Life</h3>
				Amanda Forbis and Wendy Tilby
			</div>
		</div>
		<div class="span3 nominee_box">
			<h3>Short Film, Live Action</h3>
			<div class="nominee">
				<h3>Pentecost</h3>
				Peter McDonald and Eimear O'Kane
			</div>
			<div class="nominee">
				<h3>Raju</h3>
				Max Zähle and Stefan Gieren
			</div>
			<div class="nominee">
				<h3>The Shore</h3>
				Terry George and Oorlagh George
			</div>
			<div class="nominee">
				<h3>Time Freak</h3>
				Andrew Bowler and Gigi Causey
			</div>
			<div class="nominee">
				<h3>Tuba Atlantic</h3>
				Hallvar Witzø
			</div>
		</div>
	</div>



</div>