<div id="section-wrap">

	<div id="section-articles" class="balance_height">
		<div id="search_page_search">
			<%= form_tag search_path do %>
				<%= text_field_tag :q, params[:q] %>
				<%= submit_tag "Search", :id => "search_page_commit" %>
			<% end %>
		</div>

		<div id="search_separator">&nbsp;</div>

		<div id="search_mediafiles">
			<% @mediafiles.each do |mediafile| %>
				<a class="search_mediafile" href="<%= mediafile.latest_article.to_url %>">
					<div class="search_mediafile_caption"><%= mediafile.title %></div>
					<%= image_tag mediafile.media.thumb_220.url %>
				</a>
			<% end %>
			<div class="clear"></div>
		</div>

		<% @articles.each do |article| %>


			<div class="article">
				<% unless article.visual_mediafiles.empty? or article.visual_mediafiles.first.media.url.nil? or article.visual_mediafiles.first.mediatype == 2 %>
					<div class="media">
						<%= link_to image_tag(article.visual_mediafiles.first.media.thumb_140.url), article.to_url %>
					</div>
				<% else %>
				<% end %>
				<h3><%= link_to article.title, article.to_url %></h3>
				<div class="byline"><%= bylineify article %></div>
				<p><%= article.excerpt.blank? ? article.body.first(50) : article.excerpt %></p>
				<div class="clear"></div>
			</div>

		<% end %>
		<%= will_paginate @articles if false %>
	</div>

	<div id="section-sidebar" class="balance_height">
		<section id="popular">
			<%= render 'shared/popular' %>
		</section>
	</div>

</div>