<div class="search_page">
	<div id="search_page_search">
		<%= form_tag search_path, method: :get do %>
			<%= text_field_tag :q, params[:q] %>
			<%= submit_tag "Search", :id => "search_page_commit" %>
			<div class="order">
				Order:
				<%= radio_button_tag(:order, "relevance", (params[:order].eql?("relevance")) || params[:order].nil? ) %>
				<%= label_tag(:order_relevance, "Relevance") %>
				<%= radio_button_tag(:order, "date_asc", params[:order].eql?("date_asc")) %>
				<%= label_tag(:order_date_asc, "Date, oldest to newest") %>
				<%= radio_button_tag(:order, "date_desc", params[:order].eql?("date_desc")) %>
				<%= label_tag(:order_date_desc, "Date, newest to oldest") %>
			</div>
		<% end %>
	</div>

	<div id="search_separator">&nbsp;</div>

	<% if @no_results %>
		<p class="no_results">Looks like we couldn't find anything. Try a different search or email <a href="mailto:contact@berkeleybeacon.com">contact@berkeleybeacon.com</a>.</p>
	<% end %>

	<div id="section-wrap">

		<div id="search_articles">
			<% if @people.any? %>
				<h2>Editors, staff, correspondents, and contributors</h2>
			
				<ul class="people_results">
				<% @people.each do |person| %>
					<li>
						<% if !person.profile.blank? %>
							<div class="profile_img" style="background-image:url(<%= person.profile.url %>)"></div>
						<% end %>
						<h3><%= link_to person.full_name, person.to_url %></h3>
						<%= person.pos %>
					</li>
				<% end %>
				</ul>
			<% end %>

			<% if @articles.any? %>
				<h2>Articles</h2>
			<% end %>
		
			<% @articles.each do |article| %>


				<div class="article">
					<% unless article.visual_mediafiles.empty? or article.visual_mediafiles.first.media.url.nil? or article.visual_mediafiles.first.mediatype == 2 %>
						<div class="media">
							<%= link_to image_tag(article.visual_mediafiles.first.media.thumb_140.url), article.to_url %>
						</div>
					<% else %>
					<% end %>
					<h3><%= link_to article.title, article.to_url %></h3>
					<div class="meta"><%= article.created_at.to_s(:pretty_date) %> • <%= bylineify article %></div>
					<p><%= article.excerpt.blank? ? article.body.first(50) : article.excerpt %></p>
					<div class="clear"></div>
				</div>

			<% end %>
			<%= will_paginate @articles if @articles.any? %>
		</div>

		<div id="search_mediafiles_wrap">
			<div id="search_mediafiles">
				<% if @mediafiles.any? %>
					<h2>Photos and videos</h2>
				<% end %>

				<% @mediafiles.each do |mediafile| %>
					<% if mediafile.latest_article %>
						<a class="search_mediafile" href="<%= mediafile.latest_article.to_url %>">
							<div class="search_mediafile_caption"><%= mediafile.title %></div>
							<%= image_tag mediafile.media.thumb_220.url %>
						</a>
					<% else %>
						<div class="search_mediafile">
							<%= image_tag mediafile.media.thumb_220.url %>	
						</div>
					<% end %>
				<% end %>
				<div class="clear"></div>
			</div>
		</div>

	</div>
</div>

<script type="text/javascript" src="//use.typekit.net/mdh3wrb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>