<!DOCTYPE html>
<html>
<head>
	<title><%= "#{@title} | " if @title %>The Berkeley Beacon</title>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700|PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "/reset.css" %>
	<%= stylesheet_link_tag    "application" %>
	<%= favicon_link_tag "/favicon.ico" %>
	<meta property="og:title" content="The Berkeley Beacon" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="http://berkeleybeacon.com" />
	<meta property="og:image" content="<%= "http://#{request.env['SERVER_NAME']}#{path_to_image('b_icon.png')}" %>"/>
	<meta property="og:site_name" content="The Berkeley Beacon" />
	<meta property="og:description" content="Emerson College's independent student newspaper.">
	<meta property="fb:admins" content="1600232313" />
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<% if Rails.env.production? %>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-27435507-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	<% end %>
</head>
<body>

<div class="wrap">
	<div class="header" id='home_header'>
			<div id="masthead">
				<h1>The Berkeley Beacon</h1>
			</div>

			<div id="nav">
				<ol>
					<li><%= link_to "Home", "/" %></li>
					<li id="sections"><%= link_to "Sections", '#' %></li>
					<li class="show_section"><%= link_to "News", "/news" %></li>
					<li class="show_section"><%= link_to 'Opinion', '/opinion' %></li>
					<li class="show_section"><%= link_to 'Sports', '/sports' %></li>
					<li class="show_section"><%= link_to 'Lifestyle', '/lifestyle' %></li>
					<li class="show_section"><%= link_to 'Arts', '/arts' %></li>
					<li class="show_section"><%= link_to 'Blogs', blogs_path %></li>
					<li class="show_section"><%= link_to 'Videos', videos_path %></li>
					<% if @home_header %>
						<li id="search_btn_wrap">
							<%= link_to 'Search', '#', :id => 'search_btn' %>
							<div id="search_box_wrap">
								<%= form_tag search_path do %>
									<%= text_field_tag :q, nil, :placeholder => 'Search for...' %>
									<%= submit_tag "Search" %>
								<% end %>
							</div>
						</li>
					<% end %>
					<div class="clear"></div>
				</ol>

				<h2><%= Date.today.strftime("%A, %B %e, %Y") %></h2>
				<div class="clear"></div>
			</div>

			<div class="clear"></div>
		</div>


	<!-- STATIC CONTENT HERE -->





	<!-- END STATIC CONTENT -->


	<div class="clear"></div>
	<div id="footer">
		Copyright &copy; The Berkeley Beacon 2012. All rights reserved. Thank you for reading!
		<div class="footer_right">
			<%= link_to "Search", search_path %> | <%= link_to "About", about_path %> | <%= link_to "Contact", "mailto:contact@berkeleybeacon.com"%>
		</div>
		<div class="clear"></div>
	</div>
</div>

</body>
</html>
