<div id="media_area">
	<div class="field">
		<%= f.label :title, "Caption" %>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<div class="radio">
		<%= radio_button_tag :sourcetype, "in", true %>
		<%= label_tag :sourcetype_in, "Beacon Staff/Correspondent" %>
		</div>
		<div class="radio">		
		<%= radio_button_tag :sourcetype, "out" %>
		<%= label_tag :sourcetype_out, "Outside Source" %>
		</div>
	</div>
	<div class="field" id="source_in_field">
		<%= label_tag :creator %>
		<%= select_tag :creator, options_for_select(@authors) %>
		<a href="#" id="new_person_btn" class="btn" data-toggle="modal" data-target="#new_media_person_modal"><i class="icon-user"></i> Create a new person</a>	
	</div>
	<div class="field" id="source_out_field" style="display:none">
		<%= label_tag :source, "Source (include 'via' or 'courtesy of')" %>
		<%= text_field_tag :source %>
	</div>
	<div class="field" id="media_type_field">
		Type:
		<div class="radio">
		<%= radio_button_tag :mediatype, 0 %>
		<%= label_tag :mediatype_0, "General media" %>
		</div>
		<div class="radio">
		<%= radio_button_tag :mediatype, 1, true %>
		<%= label_tag :mediatype_1, "Photograph" %>
		</div>
		<div class="radio">
		<%= radio_button_tag :mediatype, 2 %>
		<%= label_tag :mediatype_2, "Video" %>
		</div>
		<div class="radio">
		<%= radio_button_tag :mediatype, 3 %>
		<%= label_tag :mediatype_3, "Graphic" %>
		</div>
		<div class="radio">
		<%= radio_button_tag :mediatype, 4 %>
		<%= label_tag :mediatype_4, "Illustration" %>
		</div>
	</div>
	<div class="field">
		<%= label_tag :media, "<div class='video_upload_helpers'>Media file</div><div class='video_upload_helpers' style='display:none'>Poster frame for video</div>".html_safe %>
		<%= f.file_field :media %>

		<%= f.hidden_field :media_cache %>

	</div>
	<div class="field video_upload_helpers" style="display:none">
		<%= label_tag :video_mp4, "Video (.mp4)" %>
		<%= f.file_field :video_mp4 %>
		<%= f.text_field :direct_mp4_url %>

		<%= label_tag :video_ogg, "Video (.ogg / .ogv)" %>
		<%= f.file_field :video_ogg %>
		<%= f.text_field :direct_ogg_url %>

		<%= label_tag :video_webm, "Video (.webm)" %>
		<%= f.file_field :video_webm %>
		<%= f.text_field :direct_webm_url %>
	</div>

	<div class="alert alert-error video_upload_helpers">
		Is this image scaled (to a maximum size of 1000px x 1000px) and converted to RGB?
	</div>
</div>
