<div id="media_area">
	<div class="field">
		<%= f.label :title, "Caption" %>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<div class="radio">
		<%= radio_button_tag :sourcetype, "in", true %>
		<%= label_tag :sourcetype_in, "Beacon Staff/Correspondent" %>
		</div>
		<div class="radio">		
		<%= radio_button_tag :sourcetype, "out" %>
		<%= label_tag :sourcetype_out, "Outside Source" %>
		</div>
	</div>
	<div class="field creators" id="source_in_field">
		<%= label_tag :creator_1 %>
		<% if @mediafile and !@mediafile.people.empty? %>
			<% @mediafile.people.each_with_index do |person, index| %>
				<% i = index+1 %>
				<div class="field">
					<%= label_tag "creator_#{i}" if i != 1 %>
					<%= select_tag "creator_#{i}", options_for_select(@authors, person.id), :name => "creator[#{i}]" %>
					<% if i != 1 %>
						<a href="#" class="removeauth btn btn-danger"><i class="icon-trash icon-white"></i> Remove Creator <%= i %></a>
					<% end %>
				</div>
			<% end %>
		<% else %>
			<%= select_tag :creator_1, options_for_select(@authors), :name => "creator[1]" %>
			<br/>
		<% end %>
		<a href="#" id="newcreatorbtn" class="btn"><i class="icon-plus"></i> Add another creator</a>
		<a href="#" id="new_person_btn" class="btn" data-toggle="modal" data-target="#new_media_person_modal"><i class="icon-user"></i> Create a new person</a>	
	</div>
	<div class="field" id="source_out_field" style="display:none">
		<%= f.label :source, "Source (include 'via' or 'courtesy of')" %>
		<%= f.text_field :source %>
	</div>
	<div class="field" id="media_type_field">
		Type:
		<div class="radio">
		<%= radio_button_tag :mediatype, 0 %>
		<%= label_tag :mediatype_0, "General media" %>
		</div>
		<div class="radio">
		<%= radio_button_tag :mediatype, 1, true %>
		<%= label_tag :mediatype_1, "Photograph" %>
		</div>
		<div class="radio">
		<%= radio_button_tag :mediatype, 2 %>
		<%= label_tag :mediatype_2, "Video" %>
		</div>
		<div class="radio">
		<%= radio_button_tag :mediatype, 3 %>
		<%= label_tag :mediatype_3, "Graphic" %>
		</div>
		<div class="radio">
		<%= radio_button_tag :mediatype, 4 %>
		<%= label_tag :mediatype_4, "Illustration" %>
		</div>
	</div>
	<div class="field">
		<%= label_tag :media, "<div class='video_upload_helpers'>Media file</div><div class='video_upload_helpers' style='display:none'>Poster frame for video</div>".html_safe %>
		<%= f.file_field :media %>

		<%= f.hidden_field :media_cache %>

	</div>
	<div class="field video_upload_helpers" style="display:none">
		<%= label_tag :video_mp4, "Video (.mp4)" %>
		<%= f.file_field :video_mp4 %>
		<%= f.text_field :direct_mp4_url %>

		<%= label_tag :video_ogg, "Video (.ogg / .ogv)" %>
		<%= f.file_field :video_ogg %>
		<%= f.text_field :direct_ogg_url %>

		<%= label_tag :video_webm, "Video (.webm)" %>
		<%= f.file_field :video_webm %>
		<%= f.text_field :direct_webm_url %>
	</div>

	<div class="alert alert-error video_upload_helpers">
		Is this image scaled (to a maximum size of 1000px x 1000px) and converted to RGB?
	</div>
</div>
<script>
	$(function(){
		function cfield(c) {
			var ret = '<div class="field">';
			ret += '<label for="creator_' + c + '">' + 'Creator ' + c + '</label>';
			ret += '<select id="creator_' + c + '" name="creator[' + c + ']">';
			ret += $("#creator_1").clone().attr("id","#creator_" + c).attr("name","creator[" + c+ "]").html();
			ret += '</select><a href="#" class="removeauth btn btn-danger"><i class="icon-trash icon-white"></i> Remove Creator ' + c + '</a></div>';
			return ret;
		}
		function remove_f(which) { 
			$(this).closest('.field').fadeOut().remove();
			which === "auth" ? acount -= 1 : scount -= 1 ;
		}
		<% if @mediafile and @mediafile.people %>
			acount = <%= @mediafile.people.count + 1 %>
		<% else %>
			acount = 2;
		<% end %>
		$("#newcreatorbtn").click(function(){
			
			$(".creators").append(cfield(acount));
			acount += 1;
			// e.preventDefault();
			// return false;
		});			
		$(".creators").click(function(e){
			e.preventDefault();
			if ($(e.target).is('.removeauth'))
				remove_f.call(e.target,"auth");
			// return false;
		});

	});



</script>