console.log("recieved media file");
$("#new_mediafile").each(function(){
	this.reset();	
});
$("#loading").fadeOut();
<% if @mediafile.mediatype != 2 %>
	$("#uploaded_files").append('<div class="span2"><%= image_tag @mediafile.media.thumb_140.url %><br /><a href="#" class="btn show_mediafile_url">Show URL</a><br/><%= text_field_tag "mediafile_url", @mediafile.media.url, :class => "mediafile_url", :style => "display:none" %></div>');
<% else %>
	$("#uploaded_files").append("<%= @mediafile.title %>");
<% end %>
$("#new_article").append("<input type='hidden' name='mediafiles[<%= @mediafile.id %>]' value='<%= @mediafile.id %>' >");
$(".edit_article").append("<input type='hidden' name='mediafiles[<%= @mediafile.id %>]' value='<%= @mediafile.id %>' >");