<p>To schedule a post, go to <%= link_to "All Articles", articles_path %> and click <em>Schedule Post</em> next to the article.</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th width="150px">Actions</th>
			<th>Post Time</th>
			<th>Post Text</th>
			<th>Article</th>
			<th>Network</th>
		</tr>
	</thead>
	<tbody>
		<% @posts.each do |post| %>
			<tr>
				<td width="180px">
					<% if post.posted %>
						Already posted
					<% else %>
						<%= link_to "<i class='icon-edit'></i> Edit".html_safe, edit_social_post_url(post), :class => "btn" %>
						<%= link_to "<i class='icon-trash icon-white'></i> Delete".html_safe, social_post_url(post), :method => :delete, :confirm => "Are you sure you want to delete this post?", :class => "btn btn-danger" %>
					<% end %>
				</td>
				<td>
					<em><%= distance_of_time_in_words_to_now(post.post_time) %></em>
					<%= post.post_time.to_s(:pretty_date_and_time) %>
				</td>
				<td><%= post.full_post %></td>
				<td><%= link_to post.article.title, post.article.to_url rescue "<strong>No Article</strong>".html_safe %></td>
				<td><%= post.network_name %></td>
			</tr>
		<% end %>
	</tbody>

</table>