<% if editor_logged_in %>
	<div class="navbar navbar-static">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">Beacon Admin</a>
				
				<ul class="nav">
					<li><%= link_to "New Article", new_article_path %></li>
					<li><%= link_to "New Person", new_person_path %></li>
					<li><%= link_to "New Series", new_series_path %></li>
					<li><%= link_to "All Articles", articles_path %></li>
					<li><%= link_to "All People", people_path %></li>
			</div>
		</div>
	</div>
<% end %>

<div class="header" <%= "id='home_header'" if @home_header %>>
	<div id="masthead">
		<h1>The Berkeley Beacon</h1>
		<% unless @home_header %>
			<h2><%= Date.today.strftime("%A, %B %e, %Y") %></h2>
		<% end %>
	</div>
	
	<div id="nav">		
		<ol>
			<li><%= link_to "Home", "/" %></li>
			<li><%= link_to "News", "/news" %></li>
			<li><%= link_to 'Opinion', '/opinion' %></li>
			<li><%= link_to 'Sports', '/sports' %></li>
			<li><%= link_to 'Lifestyle', '/lifestyle' %></li>
			<li><%= link_to 'Arts & Entertainment', '/arts-and-entertainment' %></li>
		</ol>
		
		<% if @home_header %>
			<h2><%= Date.today.strftime("%A, %B %e, %Y") %></h2>
			<div class="clear"></div>
		<% end %>
	</div>
	
	<div class="clear"></div>
</div>