<% if editor_logged_in %>
	<div class="navbar navbar-static">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">Beacon Admin</a>
				
				<ul class="nav">
					<li><%= link_to "New Article", new_article_path %></li>
					<li><%= link_to "New Person", new_person_path %></li>
					<li><%= link_to "New Series", new_series_path %></li>
					<li><%= link_to "New Blog", new_blog_path %></li>
					<li><%= link_to "All Articles", articles_path %></li>
					<li><%= link_to "All People", people_path %></li>
					<li><%= link_to "Scheduled Posts", social_posts_path %></li>
					<li><%= link_to "Settings", settings_path %></li>
				</ul>
			</div>
		</div>
	</div>
<% end %>

<% if @new_header %>
	<div class="header new_header" <%= "id='home_header'" if @home_header %>>
		<div id="header-inner">
			<div id="masthead">
				<h1>The Berkeley Beacon</h1>
			</div>
			
			<div id="nav">		
				<ol>
					<li><%= link_to "Home", "/" %></li>
					<li><%= link_to "News", "/news" %></li>
					<li><%= link_to 'Opinion', '/opinion' %></li>
					<li><%= link_to 'Sports', '/sports' %></li>
					<li><%= link_to 'Lifestyle', '/lifestyle' %></li>
					<li><%= link_to 'Arts', '/arts' %></li>
					<li><%= link_to 'Blogs', blogs_path %></li>
					<li><%= link_to 'Videos', videos_path %></li>
					<li id="nav_date"><%= Date.today.strftime("%A, %B %e, %Y") %></li>
				</ol>
				
			</div>
			
			<div class="clear"></div>
		</div>
	</div>
<% else %>
	<div class="header" <%= "id='home_header'" if @home_header %>>
		<div id="masthead">
			<h1>The Berkeley Beacon</h1>
			<% unless @home_header %>
				<h2><%= Date.today.strftime("%A, %B %e, %Y") %></h2>
			<% end %>
		</div>
		
		<div id="nav">		
			<ol>
				<li><%= link_to "Home", "/" %></li>
				<li id="sections"><%= link_to "Sections", '#' %></li>
				<li class="show_section"><%= link_to "News", "/news" %></li>
				<li class="show_section"><%= link_to 'Opinion', '/opinion' %></li>
				<li class="show_section"><%= link_to 'Sports', '/sports' %></li>
				<li class="show_section"><%= link_to 'Lifestyle', '/lifestyle' %></li>
				<li class="show_section"><%= link_to 'Arts', '/arts' %></li>
				<li class="show_section"><%= link_to 'Blogs', blogs_path %></li>
				<li><%= link_to 'Videos', videos_path %></li>
				<% if false and @home_header %>
					<li id="search_btn_wrap">
						<%= link_to 'Search', '#', :id => 'search_btn' %>
						<div id="search_box_wrap">
							<%= form_tag search_path do %>
								<%= text_field_tag :q, nil, :placeholder => 'Search for...' %>
								<%= submit_tag "Search" %>
							<% end %>
						</div>
					</li>
				<% end %>
				<div class="clear"></div>
			</ol>
			
			<% if @home_header %>
				<h2><%= Date.today.strftime("%A, %B %e, %Y") %></h2>
				<div class="clear"></div>
			<% end %>
		</div>
		
		<div class="clear"></div>
	</div>
<% end %>