<!DOCTYPE html>
<html>
<head>
	<title><%= "#{@title} | " if @title %>The Berkeley Beacon</title>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700|PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag "/reset.css" %>
	<% if @include_custom_bootstrap %>
		<%= stylesheet_link_tag "/bootstrap-custom.min.css" %>
	<% elsif editor_logged_in or @include_bootstrap %>
		<%= stylesheet_link_tag "/bootstrap.min.css" %>
	<% end %>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<script type="text/javascript" src="http://cdn.sublimevideo.net/js/yq6ei8zj.js"></script>
	<% if @include_bootstrap_carousel %>
		<%= stylesheet_link_tag "/bootstrap-justcarousel.min.css" %>
		
	<% end %>
	<%= favicon_link_tag "/favicon.ico" %>
	<meta property="og:title" content="<%= og_title %>" />
	<meta property="og:type" content="article" />
	<% if @og and @og[:url] %>
		<meta property="og:url" content="<%= "http://#{request.env['SERVER_NAME']}#{@og[:url]}" %>" />
	<% end %>
	<meta property="og:image" content="<%= (@og.nil? or @og[:image].nil?) ? "http://#{request.env['SERVER_NAME']}#{path_to_image('b_icon.png')}" : @og[:image] %>" />
	<meta property="og:site_name" content="The Berkeley Beacon" />
	<% if @og and @og[:description] %>
		<meta property="og:description" content="<%= @og[:description] %>">
	<% end %>
	<meta property="fb:admins" content="1600232313" />
	<script type="text/javascript" src="http://platform.tumblr.com/v1/share.js"></script>
	
	<%= csrf_meta_tags %>

	<% if @include_bootstrap or @include_responsive %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<% end %>

	<% if Rails.env.production? %>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-27435507-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	<% end %>
</head>
<body>

<div class="wrap">
	<%= render 'layouts/header' %>
	<%= yield %>
	<%= render 'layouts/footer' %>
</div>

</body>
</html>
