<!DOCTYPE html>
<html>
<head>
	<title><%= "#{@title} | " if @title %>The Berkeley Beacon</title>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700|PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<% if editor_logged_in or @include_bootstrap %>
		<%= stylesheet_link_tag "/bootstrap.min.css" %>
	<% end %>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>

	<% if @needs_og %>
		<meta property="og:title" content="<%= @og[:title] %>" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="<%= "http://#{request.env['SERVER_NAME']}#{@og[:url]}" %>" />
		<meta property="og:image" content="<%= @og[:image] %>" />
		<meta property="og:site_name" content="The Berkeley Beacon" />
		<% unless @og[:description] == false %>
			<meta property="og:description" content="<%= @og[:description] %>">
		<% end %>
		<meta property="fb:admins" content="1600232313" />
		<script type="text/javascript" src="http://platform.tumblr.com/v1/share.js"></script>
	<% end %>
	
	<%= csrf_meta_tags %>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-27435507-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>

<div id="wrap">
	<%= render 'layouts/header' %>
	<%= yield %>
	<%= render 'layouts/footer' %>
</div>

</body>
</html>
