<!DOCTYPE html>
<html>
<head>
	<title><%= "#{@title} | " if @title %>The Berkeley Beacon</title>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700|PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<% if @needs_og %>
		<meta property="og:title" content="<%= @og[:title] %>" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="<%= "http://#{request.env['SERVER_NAME']}#{@og[:url]}" %>" />
		<meta property="og:image" content="<%= @og[:image] %>" />
		<meta property="og:site_name" content="The Berkeley Beacon" />
		<meta property="fb:admins" content="1600232313" />
		<script type="text/javascript" src="http://platform.tumblr.com/v1/share.js"></script>
	<% end %>
	
	<%= csrf_meta_tags %>
</head>
<body>

<div id="wrap">
	<%= render 'layouts/header' %>
	<%= yield %>
	<%= render 'layouts/footer' %>
</div>

</body>
</html>
