<!DOCTYPE html>
<html>
<head>
	<title><%= "#{@title} | " if @title %>The Berkeley Beacon</title>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "/reset.css" %>
	<%= stylesheet_link_tag "application", media: 'screen' %>
	<%= stylesheet_link_tag "application-print", media: 'print' %>
	<%= favicon_link_tag "/favicon.ico" %>
	<%= render 'shared/og' %>
	<%= render 'shared/twitter_card' %>

	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<%= csrf_meta_tags %>
	<meta property="fb:admins" content="1600232313" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<% if @article and !@article.videos.empty? and false %>
		<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
		<script src="http://vjs.zencdn.net/c/video.js"></script>
	<% end %>

	<script type="text/javascript" src="//use.typekit.net/mdh3wrb.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/emojify.js/0.9.5/emojify.min.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/emojify.js/0.9.5/emojify.min.js"></script>
</head>
<body <% if @body_id %><%= "id=#{@body_id}" %><% end %> class="a14 <%= @body_class if @body_class %>">

<% if @show_prototype_banner %>
<div class="a14_prototype_banner">
	<a href="#" id="a14_hide_banner"><i class="fa fa-times-circle fa-2x"></i></a>
	You're viewing a prototype of the new Beacon website. You can opt-out <a href="#" id="a14_hide_once">for this one page</a> or <a href="#" id="a14_hide_always">permanently</a>.
</div>
<% end %>

<%= yield %>


<% if Rails.env.production? %>
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0019/6015.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T39LWQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T39LWQ');</script>
<% end %>
</body>
</html>
