<!DOCTYPE html>
<html>
<head>
	<title><%= "#{@title} | " if @title %>The Berkeley Beacon</title>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "/reset.css" %>
	<%= stylesheet_link_tag    "application" %>
	<%= favicon_link_tag "/favicon.ico" %>
	<%= render 'shared/og' %>
	<%= render 'shared/twitter_card' %>

	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<%= csrf_meta_tags %>
	<meta property="fb:admins" content="1600232313" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<% if Rails.env.production? %>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-27435507-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	<% end %>

	<% if @article and !@article.videos.empty? and false %>
		<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
		<script src="http://vjs.zencdn.net/c/video.js"></script>
	<% end %>

	<script type="text/javascript" src="//use.typekit.net/mdh3wrb.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body <% if @body_id %><%= "id=#{@body_id}" %><% end %> class="a14 <%= @body_class if @body_class %>">

<% if @show_prototype_banner %>
<div class="a14_prototype_banner">
	<a href="#" id="a14_hide_banner"><i class="fa fa-times-circle fa-2x"></i></a>
	You're viewing a prototype of the new Beacon website. You can opt-out <a href="#" id="a14_hide_once">for this one page</a> or <a href="#" id="a14_hide_always">permanently</a>.
</div>
<% end %>

<%= yield %>


<% if Rails.env.production? %>
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0019/6015.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
<% end %>
</body>
</html>
