<!DOCTYPE html>
<html>
<head>
	<title><%= "#{@title} | " if @title %>The Berkeley Beacon</title>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700|PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag "/reset.css" %>
	<% if @include_custom_bootstrap %>
		<%= stylesheet_link_tag "/bootstrap-custom.min.css" %>
	<% elsif editor_logged_in or @include_bootstrap %>
		<%= stylesheet_link_tag "/bootstrap.min.css" %>
	<% end %>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>

	<% if @needs_og %>
		<meta property="og:title" content="<%= @og[:title] %>" />
		<meta property="og:type" content="article" />
		<% if @og and @og[:url] %>
			<meta property="og:url" content="<%= "http://#{request.env['SERVER_NAME']}#{@og[:url]}" %>" />
		<% end %>
		<meta property="og:image" content="<%= @og[:image] %>" />
		<meta property="og:site_name" content="The Berkeley Beacon" />
		<% unless @og[:description] == false %>
			<meta property="og:description" content="<%= @og[:description].html_safe %>">
		<% end %>
		<meta property="fb:admins" content="1600232313" />
		<script type="text/javascript" src="http://platform.tumblr.com/v1/share.js"></script>
	<% end %>

	<%= csrf_meta_tags %>

	<% if @include_bootstrap %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<% end %>

	<% if Rails.env.production? %>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-27435507-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	<% end %>
</head>
<body>

	<%= render 'layouts/header' %>
	<%= yield %>
	<%= render 'layouts/footer' %>

</body>
</html>
